/*    Application Admin    */
#app_client {
    -ms-grid-columns: 80px 8px 5% 1fr 8px;
    grid-template-columns: 80px 8px 5% 1fr 8px;
    -ms-grid-rows: 10% 8px 1fr 8px 5%;
    grid-template-rows: 10% 8px 1fr 8px 5%;
}
#app_header {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#app_navigation {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#app_main {
    border-radius: 4px;
    -ms-grid-columns: 7% 93%;
    grid-template-columns: 7% 93%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
#app_main > *:nth-child( 2 ) {
	-ms-grid-column: 2;
	grid-column: 2;    
	-ms-grid-row: 1;
	grid-row: 1;
}
#app_footer {
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
}
@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
    #app_client,
    #app_header,
    #app_navigation,
    #app_main,
    #app_footer {
        display: block;
        margin-bottom: 8px;
        width: 100%;
    }
}
/*    Page Admin    */
.comp-menu-links {
	-ms-grid-column: 1;
	grid-column: 1;    
	-ms-grid-row: 1;
	grid-row: 1;
}
.comp-menu-links  + * {
	-ms-grid-column: 2;
	grid-column: 2;    
	-ms-grid-row: 1;
	grid-row: 1;
}
#admin_content,
#api_content {
    padding: 8px;
}
#api_content > ul > li {
    border: 1px solid grey;
    border-radius: 4px;
    display: block;    
    height: 44px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
}
#api_content > ul > li:not(:last-child) {
    margin-bottom: 8px;
}
#api_content > ul > li.active {
    height: auto;
}
#api_content > ul > li > p,
#api_content > ul > li > ul {
    border: 1px solid grey;
    border-radius: 4px;
    display: block;
    padding: 8px;
    width: 100%;
}
#api_content > ul > li > ul {
    margin-top: 4px;
}
#hook_list_percentagebars li {
    display: inline-block;
    height: 250px;
    margin-right: 32px;
    width: 10%;
}