/*  COLORS ...

    [
        { "name" : "black",     "type" : null,      "rgba" : "( 0, 0, 0, 1 )",          "code" :   0,   "source" : "standard",      "text" : null                               },
        { "name" : "white",     "type" : null,      "rgba" : "( 255, 255, 255, 1 )",    "code" : 765,   "source" : "standard",      "text" : null                               },
        { "name" : "white",     "type" : null,      "rgba" : "( 238, 238, 238, 1 )",    "code" : 714,   "source" : "er",            "text" : "current whiteish background"      },
        { "name" : "grey" ,     "type" : null,      "rgba" : "( 224, 224, 224, 1 )",    "code" : 672,   "source" : "kellogg",       "text" : "current light greyish background" },
        { "name" : "grey" ,     "type" : "old",     "rgba" : "( 201, 201, 201, 1 )",    "code" : 603,   "source" : "er",            "text" : null                               },
        { "name" : "blue",      "type" : "light",   "rgba" : "( 153, 153, 255, 1 )",    "code" : 561,   "source" : "legacy",        "text" : "easy tracking legacy blue"        },
        { "name" : "orange",    "type" : null,      "rgba" : "( 238, 175, 48, 1 )",     "code" : 509,   "source" : "er",            "text" : null                               },
        { "name" : "yellow",    "type" : null,      "rgba" : "( 252, 217, 1, 1 )",      "code" : 470,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "yellow",    "type" : "dark",    "rgba" : "( 238, 174, 48, 1 )",     "code" : 460,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "blue",      "type" : null,      "rgba" : "( 80, 153, 219, 1 )",     "code" : 452,   "source" : "er",            "text" : null                               },
        { "name" : "blue",      "type" : "fluo",    "rgba" : "( 0, 169, 244, 1 )",      "code" : 413,   "source" : "legacy",        "text" : "kellogg legacy blue fluo"         }, 
        { "name" : "green",     "type" : "fluo",    "rgba" : "( 190, 219, 0, 1 )",      "code" : 409,   "source" : "kellogg",       "text" : null                               },
        { "name" : "grey",      "type" : null,      "rgba" : "( 128, 128, 128, 1 )",    "code" : 384,   "source" : "standard",      "text" : null                               },
        { "name" : "blue",      "type" : "light",   "rgba" : "( 2, 153, 206, 1 )",      "code" : 361,   "source" : "er",            "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 238, 53, 35, 1 )",      "code" : 326,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 211, 17, 69, 1 )",      "code" : 297,   "source" : "legacy",        "text" : "kellogg legacy red"               },
        { "name" : "indigo",    "type" : null,      "rgba" : "( 181, 26, 70, 1 )",      "code" : 277,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 181, 24, 71, 1 )",       "code" : 276,   "source" : "kellogg",       "text" : "kellogg current red"              },
        { "name" : "indigo",    "type" : "dark",    "rgba" : "( 151, 23, 46, 1 )",      "code" : 220,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "green",     "type" : "dark",    "rgba" : "( 0, 115, 99,1 )",        "code" : 214,   "source" : "kellogg",       "text" : null                               },
        { "name" : "blue",      "type" : "dark",    "rgba" : "( 0, 51, 102, 0.9 )",     "code" : 153,   "source" : "legacy",        "text" : "easy tracking legacy blue"        }
    ]
    
    DEFAULT ER REPORTS:
        background page:        color-3     white
        background element:     color-4     white/grey
        element active:         color-7     orange
        element passive:        color-11    blue
        borders:                color-13    grey
        color contrast          color-17    red
    
    KELLOGG RAINBOW_1: indigo color-17 => indigo color-19 => red color-15 => yellow color-9 => yellow color-8

    KELLOGG RAINBOW_2: 
                   
*/
.color-1-bg { /*    black - standard -     */
    background-color: rgba( 0, 0, 0, 1 );
}
.color-1-bor {
    border-color: rgba( 0, 0, 0, 1 );
}
.color-1-t {
    color: rgba( 0, 0, 0, 1 );
}
.color-2-bg { /*    white - standard -     */
    background-color: rgba( 255, 255, 255, 1 );
}
.color-2-bor {
    border-color: rgba( 255, 255, 255, 1 );
}
.color-2-t {
    color: rgba( 255, 255, 255, 1 );
}
.color-3-bg { /*    white - er -     */
    background-color: rgba( 238, 238, 238, 1 );
}
.color-3-bor {
    border-color: rgba( 238, 238, 238, 1 );
}
.color-3-t {
    color: rgba( 238, 238, 238, 1 );
}
.color-4-bg { /*    grey - kellogg -     */
    background-color: rgba( 224, 224, 224, 1 );
}
.color-4-bor {
    border-color: rgba( 224, 224, 224, 1 );
}
.color-4-t {
    color: rgba( 224, 224, 224, 1 );
}
.color-5-bg { /*    grey - er - old    */
    background-color: rgba( 201, 201, 201, 1 );
}
.color-5-bor {
    border-color: rgba( 201, 201, 201, 1 );
}
.color-5-t {
    color: rgba( 201, 201, 201, 1 );
}
.color-6-bg { /*    blue - legacy - light    */
    background-color: rgba( 153, 153, 255, 1 );
}
.color-6-bor {
    border-color: rgba( 153, 153, 255, 1 );
}
.color-6-t {
    color: rgba( 153, 153, 255, 1 );
}
.color-7-bg { /*    orange - er -     */
    background-color: rgba( 238, 175, 48, 1 );
}
.color-7-bor {
    border-color: rgba( 238, 175, 48, 1 );
}
.color-7-t {
    color: rgba( 238, 175, 48, 1 );
}
.color-8-bg { /*    yellow - rainbow_1 -     */
    background-color: rgba( 252, 217, 1, 1 );
}
.color-8-bor {
    border-color: rgba( 252, 217, 1, 1 );
}
.color-8-t {
    color: rgba( 252, 217, 1, 1 );
}
.color-9-bg { /*    yellow - rainbow_1 - dark    */
    background-color: rgba( 238, 174, 48, 1 );
}
.color-9-bor {
    border-color: rgba( 238, 174, 48, 1 );
}
.color-9-t {
    color: rgba( 238, 174, 48, 1 );
}
.color-10-bg { /*    blue - er -     */
    background-color: rgba( 80, 153, 219, 1 );
}
.color-10-bor {
    border-color: rgba( 80, 153, 219, 1 );
}
.color-10-t {
    color: rgba( 80, 153, 219, 1 );
}
.color-11-bg { /*    blue - Kellogg - fluo    */
    background-color: rgba( 0, 169, 244, 1 );
}
.color-11-bor {
    border-color: rgba( 0, 169, 244, 1 );
}
.color-11-t {
    color: rgba( 0, 169, 244, 1 );
}
.color-12-bg { /*    green - kellogg - fluo    */
    background-color: rgba( 190, 219, 0, 1 );
}
.color-12-bor {
    border-color: rgba( 190, 219, 0, 1 );
}
.color-12-t {
    color: rgba( 190, 219, 0, 1 );
}
.color-13-bg { /*    grey - standard -     */
    background-color: rgba( 128, 128, 128, 1 );
}
.color-13-bor {
    border-color: rgba( 128, 128, 128, 1 );
}
.color-13-t {
    color: rgba( 128, 128, 128, 1 );
}
.color-14-bg { /*    blue - er - light    */
    background-color: rgba( 2, 153, 206, 1 );
}
.color-14-bor {
    border-color: rgba( 2, 153, 206, 1 );
}
.color-14-t {
    color: rgba( 2, 153, 206, 1 );
}
.color-15-bg { /*    red - rainbow_1 -     */
    background-color: rgba( 238, 53, 35, 1 );
}
.color-15-bor {
    border-color: rgba( 238, 53, 35, 1 );
}
.color-15-t {
    color: rgba( 238, 53, 35, 1 );
}
.color-16-bg { /*    red - legacy -     */
    background-color: rgba( 211, 17, 69, 1 );
}
.color-16-bor {
    border-color: rgba( 211, 17, 69, 1 );
}
.color-16-t {
    color: rgba( 211, 17, 69, 1 );
}
.color-17-bg { /*    indigo - rainbow_1 -     */
    background-color: rgba( 181, 26, 70, 1 );
}
.color-17-bor {
    border-color: rgba( 181, 26, 70, 1 );
}
.color-17-t {
    color: rgba( 181, 26, 70, 1 );
}
.color-18-bg { /*    red - kellogg -     */
    background-color: rgba( 181, 24, 71, 1 );
}
.color-18-bor {
    border-color: rgba( 181, 24, 71, 1 );
}
.color-18-t {
    color: rgba( 181, 24, 71, 1 );
}
.color-19-bg { /*    indigo - rainbow_1 - dark    */
    background-color: rgba( 151, 23, 46, 1 );
}
.color-19-bor {
    border-color: rgba( 151, 23, 46, 1 );
}
.color-19-t {
    color: rgba( 151, 23, 46, 1 );
}
.color-20-bg { /*    green - kellogg - dark    */
    background-color: rgba( 0, 115, 99,1 );
}
.color-20-bor {
    border-color: rgba( 0, 115, 99,1 );
}
.color-20-t {
    color: rgba( 0, 115, 99,1 );
}
.color-21-bg { /*    blue - legacy - dark    */
    background-color: rgba( 0, 51, 102, 0.9 );
}
.color-21-bor {
    border-color: rgba( 0, 51, 102, 0.9 );
}
.color-21-t {
    color: rgba( 0, 51, 102, 0.9 );
}
.color-22-bg { /*    grey - chrome    */
    color: rgba( 210, 210, 210, 1 );
}
.color-22-bor {
    border-color: rgba( 210, 210, 210, 1 );
}
.color-22-t {
    color: rgba( 210, 210, 210, 1 );
}
.color-23-t {   
    color: rgba( 219, 239, 255, 1 );
}
.color-23-bg { /*    blue - kellogg - extra light - granola box 'no added sugar'    */
    background-color: rgba( 219, 239, 255, 1 );
}
.color-23-bor {
    border-color: rgba( 219, 239, 255, 1 );
}
.color-24-t {
    color: rgba( 102, 203, 234, 1 );
}
.color-24-bg { /*    blue - microsoft - azure    */   
    background-color: rgba( 102, 203, 234, 1 );
}
.color-24-bor {
    border-color: rgba( 102, 203, 234, 1 );
}
/*
*/
.bor-grey {
    border: 1px solid grey;
}
.bor-round {
    border-radius: 4px;
}
.bor-round-right {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/*  GRADIENTS ...
*/
.gradient-1-bg {/* indigo => yelllow - Kellogg Rainbow 1 */
    background-color: rgba(181,26,70,1);
    background-image: linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -ms-background-image: -ms-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -moz-background-image: -moz-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -o-background-image: -o-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -webkit-background-image: -webkit-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
}
.gradient-2-bg {/*  blue => white */
    background-color: rgba(80,153,219,1);
    background-image: linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -ms-background-image: -ms-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -moz-background-image: -moz-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -o-background-image: -o-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -webkit-background-image: -webkit-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );    
}
/*  DATA STATES
*/
.active {
    
}
.bold {
    font-weight: bold;
}
.ool {
    background-color: rgba( 181, 24, 71, 1 ); /* COLOR_K_RED */
    color: rgba( 238, 238, 238, 1 );
}
/*  TABLES
*/
.striped tr:nth-child( odd ) {
    background-color: rgba( 255, 255, 255, 1 ); /* color-2-bg */
}
.striped tr:nth-child( even ) {
    background-color: rgba( 219, 239, 255, 1 ); /* color-23-bg */
}