/*  menu-links
*   dependant on comp-menu , easyreporting.css.color-3-bg , easyreporting.css.color-4-bg
*/
.comp-menu-links {
    background-color: rgba( 224, 224, 224, 1 );
    border-right: 1px solid grey;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block; /* ib to wrap aropund all elements, b for fullwidth */
    height: 100%;
    list-style: none;
    padding: 16px 0;
    width: 100%;
}
.comp-menu-links > li {
    border-top: 1px solid rgba( 224, 224, 224, 1 );
    border-bottom: 1px solid rgba( 224, 224, 224, 1 );
    border-right: 1px solid transparent;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
.comp-menu-links > li.active {
    background-color: rgba( 238, 238, 238, 1 ); /* easyreporting.css.color-4-bg */
    border-top: 1px solid rgba( 128, 128, 128, 1 );
    border-bottom: 1px solid rgba( 128, 128, 128, 1 );
    border-right: 1px solid transparent;
    width: calc( 100% + 1px );
}
.comp-menu-links > li:not([data-injection]):not(.active):hover, .comp-menu-list > li:not([data-injection]):not(.active) > *:hover {
    background-color: rgba( 210, 210, 210, 1 ); /* easyreporting.css.color-22-bg */
    border-right: 1px solid transparent;
}
.comp-menu-links > li[data-injection] {
    text-align: center;
}
.comp-menu-links a,
.comp-menu-links a:hover {
    color: black;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 8px;
    text-shadow: 0px -1px 0 rgba( 255, 255, 255, 0.5 );    
    width: 100%;
}
