.comp-dtbar-bar {
    border: 1px solid grey;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
}
.comp-dtbar-sundial {
    background-color: grey;
    border: 1px solid grey;
    height: 58px;
    position: absolute;
    width: 3px;
}
.comp-dtbar-sundial::before {
    background-color: rgba( 238, 238, 238, 1 );
    color: grey;
    content: attr( data-symbol );
    display: inline-block;
    height: 1.1em;
    left: -7px;
    line-height: 1.1em;
    position: absolute;
    top: 58px;
}
.comp-dtbar-duration {
    display: inline-block;
    height: 100%;
    text-align: center;
}
.comp-dtbar-duration:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.comp-dtbar-duration:last-of-type {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.comp-dtbar-duration:not(:last-of-type) {
    border-right: 1px solid grey;
}
.comp-dtbar-running { 
    background-color: rgba( 190, 219, 0, 1 ); /* COLOR_K_GREEN_FLUO */ 
}
.comp-dtbar-ongoing {
    background-color: rgba( 238, 175, 48, 1 ); /* COLOR_K_ORANGE */
}
.comp-dtbar-planned {
    background-color: rgba( 0, 115, 99, 1 ); /* COLOR_K_GREEN */
    color: rgba( 238, 238, 238, 1 );
}
.comp-dtbar-unplanned {
    background-color: rgba( 181, 24, 71, 1 ); /* COLOR_K_RED */
    color: rgba( 238, 238, 238, 1 );
}
/*
*   - Our bar is 8 hours long, so each hour is 12.5% of the bar .
*   - So we make the last child shorter, so we have room to add a 9th label for the endtime .
*/
.comp-dtbar-timing {
    display: inline-block;
    width: 12.5%;
}
.comp-dtbar-timing:not(:first-child):not(:last-child) {
    border-left: 1px solid grey;
}
.comp-dtbar-timing:nth-last-child( 2 ) {
    width: 10%;
}
.comp-dtbar-timing:last-child {
    text-align: right;
    width: 2.5%;
}