.comp-masonry {
    margin: 8px auto;
    x-overflow: hidden;
    width: 100%;
}
.comp-masonry ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.65% (4.7%)[21] 0.65%;
    -grid-template-columns: 0.65% (4.7%)[21] 0.65%;
    -ms-grid-rows: (40px)[2];
    -grid-template-rows: (40px)[2];
    width: 100%;
}
.comp-masonry li {
    background-color: rgba( 0, 152, 219, 1 );
    border-left: 1px solid grey;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0 rgba( 255, 255, 255, 0.3 );
}
.comp-masonry li:nth-child(4n-2):not(.spacer) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    margin-left: 25%;
    margin-right: 25%;
}
.comp-masonry li:nth-child(2), 
.comp-masonry li:nth-child(3) {
    border-left: none;
}
.comp-masonry li:not(:nth-child(4n-2)):not(.spacer) {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.comp-masonry *.active, .comp-masonry *.spacer {
    background-color: rgba( 238, 175, 48, 1 );
}
.comp-masonry *.spacer {
    border: 1px solid grey;
    x-height: calc( 100% + 16px );
    line-height: 96px;
    position: relative;
    x-top: -8px;
}
