.comp-marquee {
    font-size: 24px;
    font-weight: bold;
    height: 34px; /* due to the absolute positioning of the marquee element, box-sizing gets overwritten and we need to provide a height => 24px font size + 2px border + 8px padding */
    overflow: hidden; /* the element needs overflow hidden already Before we activate the marquee. Else we'll see a scrolling bar for the ms that the browser adds the marquee class */
    text-align: center;
}
.comp-marquee.active {
    overflow: hidden;
    position: relative;
}
.comp-marquee.active > div {
	-moz-animation: marquee 15s linear infinite;
	-ms-animation: marquee 15s linear infinite;
	-o-animation: marquee 15s linear infinite;
	-webkit-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
    overflow: hidden;
	position: absolute;
	right: 0;
    top: 0;
	white-space: nowrap;
}
@-webkit-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-moz-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-ms-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-o-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}