.comp-datatable {
    border-collapse: collapse;
    width: 100%;
}
.comp-datatable thead {
    background-color: steelblue;
    color: white;
}
.comp-datatable td, .comp-datatable th {
    border: 1px solid black;
    padding: 4px;
}
.comp-datatable th {
    text-transform: capitalize;
}
.comp-datatable th.arrow-up::after {
    border: solid currentColor;
    border-width: 0 .25em .25em 0;
    content: "";
    display: inline-block;
    margin-left: 8px;
    padding: .25em;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}
.comp-datatable th.arrow-down::after {
    border: solid currentColor;
    border-width: 0 .25em .25em 0;
    content: "";
    display: inline-block;
    margin-left: 8px;
    padding: .25em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}