.comp-popover {
    background-color: rgba( 0, 0, 0, 0.3 );
    bottom: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr; 
    -ms-grid-rows: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.comp-popover > div {
    background-color: rgba( 238, 238, 238, 1 );
    border: 1px solid grey;
    border-radius: 4px;
	-ms-grid-column: 2;
	grid-column: 2;    
	-ms-grid-row: 2;
	grid-row: 2;
    padding: 16px;
}
.comp-popover nav {
    text-align: center;
}