.comp-pbar_h {
	background-color: rgba( 80, 153, 219, 1 );
	border: 1px solid grey;
	border-radius: 4px;
	height: 40px;
    line-height: 40px;
    margin: auto;
    overflow: hidden;
	width: 50%;
}
.comp-pbar_h > div {
	background-color: rgba( 238, 175, 48, 1 );
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
	display: inline-block;
	font-weight: bold;
    min-width: 2rem;
    text-align: right;
    transition: width 500ms linear;
    width: 0%;
}
.comp-pbar_h > div::after {
	content: attr(data-scale) "%";
    padding-right: 2px;
}
.comp-pbar_h > div:not([data-scale="100"]) {
    border-right: 1px solid grey;
}
.comp-pbar_h > div[data-scale="100"] {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.comp-pbar_v {
    background-color: rgba( 255, 255, 255, 1 );
    border: 1px solid rgba( 204, 204, 204, 1 );
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.comp-pbar_v > div {
    background-color: rgba( 190, 219, 0, 1 ); /* COLOR_K_GREEN_FLUO */
    bottom: 0;
    font-weight: bold;
    height: 0%;
    min-height: 20px;
    max-height: 100%;
    position: absolute;
    text-align: center;
    transition: height 1s;
    width: 100%;
}