/*
     1-11    1-20
     6-11    6-20
     sc11    sc20
     sr11    sr20
*/
.grid-1-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 1;
	grid-column: 11;
	grid-row: 1;
}
.grid-1-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 1;
	grid-column: 12;
	grid-row: 1;
}
.grid-1-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 1;
	grid-column: 13;
	grid-row: 1;
}
.grid-1-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 1;
	grid-column: 14;
	grid-row: 1;
}
.grid-1-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 1;
	grid-column: 15;
	grid-row: 1;
}
.grid-1-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 1;
	grid-column: 16;
	grid-row: 1;
}
.grid-1-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 1;
	grid-column: 17;
	grid-row: 1;
}
.grid-1-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 1;
	grid-column: 18;
	grid-row: 1;
}
.grid-1-19 {
	-ms-grid-column: 19;
	-ms-grid-row: 1;
	grid-column: 19;
	grid-row: 1;
}
.grid-1-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 1;
	grid-column: 20;
	grid-row: 1;
}
.grid-2-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 2;
	grid-column: 11;
	grid-row: 2;
}
.grid-2-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 2;
	grid-column: 12;
	grid-row: 2;
}
.grid-2-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 2;
	grid-column: 13;
	grid-row: 2;
}
.grid-2-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 2;
	grid-column: 14;
	grid-row: 2;
}
.grid-2-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 2;
	grid-column: 15;
	grid-row: 2;
}
.grid-2-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 2;
	grid-column: 16;
	grid-row: 2;
}
.grid-2-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 2;
	grid-column: 17;
	grid-row: 2;
}
.grid-2-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 2;
	grid-column: 18;
	grid-row: 2;
}
.grid-2-19 {
	-ms-grid-column: 19;
	-ms-grid-row: 2;
	grid-column: 19;
	grid-row: 2;
}
.grid-2-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 2;
	grid-column: 20;
	grid-row: 2;
}
.grid-3-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 3;
	grid-column: 11;
	grid-row: 3;
}
.grid-3-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 3;
	grid-column: 12;
	grid-row: 3;
}
.grid-3-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 3;
	grid-column: 13;
	grid-row: 3;
}
.grid-3-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 3;
	grid-column: 14;
	grid-row: 3;
}
.grid-3-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 3;
	grid-column: 15;
	grid-row: 3;
}
.grid-3-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 3;
	grid-column: 16;
	grid-row: 3;
}
.grid-3-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 3;
	grid-column: 17;
	grid-row: 3;
}
.grid-3-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 3;
	grid-column: 18;
	grid-row: 3;
}
.grid-3-19 {
	-ms-grid-column: 20;
	-ms-grid-row: 3;
	grid-column: 20;
	grid-row: 3;
}
.grid-3-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 3;
	grid-column: 20;
	grid-row: 3;
}
.grid-4-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 4;
	grid-column: 11;
	grid-row: 4;
}
.grid-4-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 4;
	grid-column: 12;
	grid-row: 4;
}
.grid-4-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 4;
	grid-column: 13;
	grid-row: 4;
}
.grid-4-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 4;
	grid-column: 14;
	grid-row: 4;
}
.grid-4-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 4;
	grid-column: 15;
	grid-row: 4;
}
.grid-4-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 4;
	grid-column: 16;
	grid-row: 4;
}
.grid-4-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 4;
	grid-column: 17;
	grid-row: 4;
}
.grid-4-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 4;
	grid-column: 18;
	grid-row: 4;
}
.grid-4-19 {
	-ms-grid-column: 20;
	-ms-grid-row: 4;
	grid-column: 20;
	grid-row: 4;
}
.grid-4-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 4;
	grid-column: 20;
	grid-row: 4;
}
.grid-5-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 5;
	grid-column: 11;
	grid-row: 5;
}
.grid-5-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 5;
	grid-column: 12;
	grid-row: 5;
}
.grid-5-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 5;
	grid-column: 13;
	grid-row: 5;
}
.grid-5-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 5;
	grid-column: 14;
	grid-row: 5;
}
.grid-5-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 5;
	grid-column: 15;
	grid-row: 5;
}
.grid-5-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 5;
	grid-column: 16;
	grid-row: 5;
}
.grid-5-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 5;
	grid-column: 17;
	grid-row: 5;
}
.grid-5-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 5;
	grid-column: 18;
	grid-row: 5;
}
.grid-5-19 {
	-ms-grid-column: 20;
	-ms-grid-row: 5;
	grid-column: 20;
	grid-row: 5;
}
.grid-5-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 5;
	grid-column: 20;
	grid-row: 5;
}
.grid-6-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 6;
	grid-column: 11;
	grid-row: 6;
}
.grid-6-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 6;
	grid-column: 12;
	grid-row: 6;
}
.grid-6-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 6;
	grid-column: 13;
	grid-row: 6;
}
.grid-6-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 6;
	grid-column: 14;
	grid-row: 6;
}
.grid-6-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 6;
	grid-column: 15;
	grid-row: 6;
}
.grid-6-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 6;
	grid-column: 16;
	grid-row: 6;
}
.grid-6-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 6;
	grid-column: 17;
	grid-row: 6;
}
.grid-6-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 6;
	grid-column: 18;
	grid-row: 6;
}
.grid-6-19 {
	-ms-grid-column: 20;
	-ms-grid-row: 6;
	grid-column: 20;
	grid-row: 6;
}
.grid-6-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 6;
	grid-column: 20;
	grid-row: 6;
}
.grid-sc-11 {
    -ms-grid-column-span : 11;
    grid-column-end: span 11;
}    
.grid-sc-12 {
    -ms-grid-column-span : 12;
    grid-column-end: span 12;
}
.grid-sc-13 {
    -ms-grid-column-span : 13;
    grid-column-end: span 13;
}    
.grid-sc-14 {
    -ms-grid-column-span : 14;
    grid-column-end: span 14;
}    
.grid-sc-15 {
    -ms-grid-column-span : 15;
    grid-column-end: span 15;
}    
.grid-sc-16 {
    -ms-grid-column-span : 16;
    grid-column-end: span 16;
}    
.grid-sc-17 {
    -ms-grid-column-span : 17;
    grid-column-end: span 17;
}    
.grid-sc-18 {
    -ms-grid-column-span : 18;
    grid-column-end: span 18;
}    
.grid-sc-19 {
    -ms-grid-column-span : 19;
    grid-column-end: span 19;
}    
.grid-sc-20 {
    -ms-grid-column-span : 20;
    grid-column-end: span 20;
}  
.grid-sr-11 {
    -ms-grid-row-span: 11;
    grid-row-end: span 11;
}
.grid-sr-12 {
    -ms-grid-row-span: 12;
    grid-row-end: span 12;
}
.grid-sr-13 {
    -ms-grid-row-span: 13;
    grid-row-end: span 13;
}
.grid-sr-14 {
    -ms-grid-row-span: 14;
    grid-row-end: span 14;
}
.grid-sr-15 {
    -ms-grid-row-span: 15;
    grid-row-end: span 15;
}
.grid-sr-16 {
    -ms-grid-row-span: 16;
    grid-row-end: span 16;
}
.grid-sr-17 {
    -ms-grid-row-span: 17;
    grid-row-end: span 17;
}
.grid-sr-18 {
    -ms-grid-row-span: 18;
    grid-row-end: span 18;
}
.grid-sr-19 {
    -ms-grid-row-span: 19;
    grid-row-end: span 19;
}
.grid-sr-20 {
    -ms-grid-row-span: 20;
    grid-row-end: span 20;
}