/*
     1-21     1-30
     3-21     3-30
     sc21     sc30
     sr21     sr30

*/
.grid-1-21 {
	-ms-grid-column: 21;
	-ms-grid-row: 1;
	grid-column: 21;
	grid-row: 1;
}
.grid-1-22 {
	-ms-grid-column: 22;
	-ms-grid-row: 1;
	grid-column: 22;
	grid-row: 1;
}
.grid-1-23 {
	-ms-grid-column: 23;
	-ms-grid-row: 1;
	grid-column: 23;
	grid-row: 1;
}
.grid-1-24 {
	-ms-grid-column: 24;
	-ms-grid-row: 1;
	grid-column: 24;
	grid-row: 1;
}
.grid-1-25 {
	-ms-grid-column: 25;
	-ms-grid-row: 1;
	grid-column: 25;
	grid-row: 1;
}
.grid-1-26 {
	-ms-grid-column: 26;
	-ms-grid-row: 1;
	grid-column: 26;
	grid-row: 1;
}
.grid-1-27 {
	-ms-grid-column: 27;
	-ms-grid-row: 1;
	grid-column: 27;
	grid-row: 1;
}
.grid-1-28 {
	-ms-grid-column: 28;
	-ms-grid-row: 1;
	grid-column: 28;
	grid-row: 1;
}
.grid-1-29 {
	-ms-grid-column: 29;
	-ms-grid-row: 1;
	grid-column: 29;
	grid-row: 1;
}
.grid-1-30 {
	-ms-grid-column: 30;
	-ms-grid-row: 1;
	grid-column: 30;
	grid-row: 1;
}
.grid-2-21 {
	-ms-grid-column: 21;
	-ms-grid-row: 2;
	grid-column: 21;
	grid-row: 2;
}
.grid-2-22 {
	-ms-grid-column: 22;
	-ms-grid-row: 2;
	grid-column: 22;
	grid-row: 2;
}
.grid-2-23 {
	-ms-grid-column: 23;
	-ms-grid-row: 2;
	grid-column: 23;
	grid-row: 2;
}
.grid-2-24 {
	-ms-grid-column: 24;
	-ms-grid-row: 2;
	grid-column: 24;
	grid-row: 2;
}
.grid-2-25 {
	-ms-grid-column: 25;
	-ms-grid-row: 2;
	grid-column: 25;
	grid-row: 2;
}
.grid-2-26 {
	-ms-grid-column: 26;
	-ms-grid-row: 2;
	grid-column: 26;
	grid-row: 2;
}
.grid-2-27 {
	-ms-grid-column: 27;
	-ms-grid-row: 2;
	grid-column: 27;
	grid-row: 2;
}
.grid-2-28 {
	-ms-grid-column: 28;
	-ms-grid-row: 2;
	grid-column: 28;
	grid-row: 2;
}
.grid-2-29 {
	-ms-grid-column: 29;
	-ms-grid-row: 2;
	grid-column: 29;
	grid-row: 2;
}
.grid-2-30 {
	-ms-grid-column: 30;
	-ms-grid-row: 2;
	grid-column: 30;
	grid-row: 2;
}
.grid-3-21 {
	-ms-grid-column: 21;
	-ms-grid-row: 3;
	grid-column: 21;
	grid-row: 3;
}
.grid-3-22 {
	-ms-grid-column: 22;
	-ms-grid-row: 3;
	grid-column: 22;
	grid-row: 3;
}
.grid-3-23 {
	-ms-grid-column: 23;
	-ms-grid-row: 3;
	grid-column: 23;
	grid-row: 3;
}
.grid-3-24 {
	-ms-grid-column: 24;
	-ms-grid-row: 3;
	grid-column: 24;
	grid-row: 3;
}
.grid-3-25 {
	-ms-grid-column: 25;
	-ms-grid-row: 3;
	grid-column: 25;
	grid-row: 3;
}
.grid-3-26 {
	-ms-grid-column: 26;
	-ms-grid-row: 3;
	grid-column: 26;
	grid-row: 3;
}
.grid-3-27 {
	-ms-grid-column: 27;
	-ms-grid-row: 3;
	grid-column: 27;
	grid-row: 3;
}
.grid-3-28 {
	-ms-grid-column: 28;
	-ms-grid-row: 3;
	grid-column: 28;
	grid-row: 3;
}
.grid-3-29 {
	-ms-grid-column: 29;
	-ms-grid-row: 3;
	grid-column: 29;
	grid-row: 3;
}
.grid-3-30 {
	-ms-grid-column: 30;
	-ms-grid-row: 3;
	grid-column: 30;
	grid-row: 3;
}
.grid-sc-21 {
    -ms-grid-column-span : 21;
    grid-column-end: span 21;
}
.grid-sc-22 {
    -ms-grid-column-span : 22;
    grid-column-end: span 22;
}
.grid-sc-23 {
    -ms-grid-column-span : 23;
    grid-column-end: span 23;
}
.grid-sc-24 {
    -ms-grid-column-span : 24;
    grid-column-end: span 24;
}
.grid-sc-25 {
    -ms-grid-column-span : 25;
    grid-column-end: span 25;
}
.grid-sc-26 {
    -ms-grid-column-span : 26;
    grid-column-end: span 26;
}
.grid-sc-27 {
    -ms-grid-column-span : 27;
    grid-column-end: span 27;
}
.grid-sc-28 {
    -ms-grid-column-span : 28;
    grid-column-end: span 28;
}
.grid-sc-29 {
    -ms-grid-column-span : 29;
    grid-column-end: span 29;
}
.grid-sc-30 {
    -ms-grid-column-span : 30;
    grid-column-end: span 30;
}
.grid-sr-21 {
    -ms-grid-row-span: 21;
    grid-row-end: span 21;
}
.grid-sr-22 {
    -ms-grid-row-span: 22;
    grid-row-end: span 22;
}
.grid-sr-23 {
    -ms-grid-row-span: 23;
    grid-row-end: span 23;
}
.grid-sr-24 {
    -ms-grid-row-span: 24;
    grid-row-end: span 24;
}
.grid-sr-25 {
    -ms-grid-row-span: 25;
    grid-row-end: span 25;
}
.grid-sr-26 {
    -ms-grid-row-span: 26;
    grid-row-end: span 26;
}
.grid-sr-27 {
    -ms-grid-row-span: 27;
    grid-row-end: span 27;
}
.grid-sr-28 {
    -ms-grid-row-span: 28;
    grid-row-end: span 28;
}
.grid-sr-29 {
    -ms-grid-row-span: 29;
    grid-row-end: span 29;
}
.grid-sr-30 {
    -ms-grid-row-span: 30;
    grid-row-end: span 30;
}