/*
     1- 1     1-10
    10- 1    10-10
      sc1     sc10
      sr1     sr10
*/
.grid-1-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	grid-column: 1;
	grid-row: 1;
}
.grid-1-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	grid-column: 2;
	grid-row: 1;
}
.grid-1-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 1;
	grid-column: 3;
	grid-row: 1;
}
.grid-1-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 1;
	grid-column: 4;
	grid-row: 1;
}
.grid-1-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 1;
	grid-column: 5;
	grid-row: 1;
}
.grid-1-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 1;
	grid-column: 6;
	grid-row: 1;
}
.grid-1-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 1;
	grid-column: 7;
	grid-row: 1;
}
.grid-1-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 1;
	grid-column: 8;
	grid-row: 1;
}
.grid-1-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 1;
	grid-column: 9;
	grid-row: 1;
}
.grid-1-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 1;
	grid-column: 10;
	grid-row: 1;
}
.grid-2-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	grid-column: 1;
	grid-row: 2;
}
.grid-2-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	grid-column: 2;
	grid-row: 2;
}
.grid-2-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	grid-column: 3;
	grid-row: 2;
}
.grid-2-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 2;
	grid-column: 4;
	grid-row: 2;
}
.grid-2-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 2;
	grid-column: 5;
	grid-row: 2;
}
.grid-2-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 2;
	grid-column: 6;
	grid-row: 2;
}
.grid-2-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 2;
	grid-column: 7;
	grid-row: 2;
}
.grid-2-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 2;
	grid-column: 8;
	grid-row: 2;
}
.grid-2-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 2;
	grid-column: 9;
	grid-row: 2;
}
.grid-2-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 2;
	grid-column: 10;
	grid-row: 2;
}
.grid-3-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 3;
	grid-column: 1;
	grid-row: 3;
}
.grid-3-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 3;
	grid-column: 2;
	grid-row: 3;
}
.grid-3-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 3;
	grid-column: 3;
	grid-row: 3;
}
.grid-3-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 3;
	grid-column: 4;
	grid-row: 3;
}
.grid-3-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 3;
	grid-column: 5;
	grid-row: 3;
}
.grid-3-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 3;
	grid-column: 6;
	grid-row: 3;
}
.grid-3-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 3;
	grid-column: 7;
	grid-row: 3;
}
.grid-3-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 3;
	grid-column: 8;
	grid-row: 3;
}
.grid-3-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 3;
	grid-column: 9;
	grid-row: 3;
}
.grid-3-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 3;
	grid-column: 10;
	grid-row: 3;
}
.grid-4-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 4;
	grid-column: 1;
	grid-row: 4;
}
.grid-4-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 4;
	grid-column: 2;
	grid-row: 4;
}
.grid-4-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 4;
	grid-column: 3;
	grid-row: 4;
}
.grid-4-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 4;
	grid-column: 4;
	grid-row: 4;
}
.grid-4-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 4;
	grid-column: 5;
	grid-row: 4;
}
.grid-4-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 4;
	grid-column: 6;
	grid-row: 4;
}
.grid-4-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 4;
	grid-column: 7;
	grid-row: 4;
}
.grid-4-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 4;
	grid-column: 8;
	grid-row: 4;
}
.grid-4-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 4;
	grid-column: 9;
	grid-row: 4;
}
.grid-4-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 4;
	grid-column: 10;
	grid-row: 4;
}
.grid-5-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 5;
	grid-column: 1;
	grid-row: 5;
}
.grid-5-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 5;
	grid-column: 2;
	grid-row: 5;
}
.grid-5-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 5;
	grid-column: 3;
	grid-row: 5;
}
.grid-5-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 5;
	grid-column: 4;
	grid-row: 5;
}
.grid-5-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 5;
	grid-column: 5;
	grid-row: 5;
}
.grid-5-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 5;
	grid-column: 6;
	grid-row: 5;
}
.grid-5-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 5;
	grid-column: 7;
	grid-row: 5;
}
.grid-5-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 5;
	grid-column: 8;
	grid-row: 5;
}
.grid-5-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 5;
	grid-column: 9;
	grid-row: 5;
}
.grid-5-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 5;
	grid-column: 10;
	grid-row: 5;
}
.grid-6-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 6;
	grid-column: 1;
	grid-row: 6;
}
.grid-6-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 6;
	grid-column: 2;
	grid-row: 6;
}
.grid-6-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 6;
	grid-column: 3;
	grid-row: 6;
}
.grid-6-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 6;
	grid-column: 4;
	grid-row: 6;
}
.grid-6-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 6;
	grid-column: 5;
	grid-row: 6;
}
.grid-6-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 6;
	grid-column: 6;
	grid-row: 6;
}
.grid-6-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 6;
	grid-column: 7;
	grid-row: 6;
}
.grid-6-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 6;
	grid-column: 8;
	grid-row: 6;
}
.grid-6-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 6;
	grid-column: 9;
	grid-row: 6;
}
.grid-6-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 6;
	grid-column: 10;
	grid-row: 6;
}
.grid-7-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 7;
	grid-column: 1;
	grid-row: 7;
}
.grid-7-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 7;
	grid-column: 2;
	grid-row: 7;
}
.grid-7-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 7;
	grid-column: 3;
	grid-row: 7;
}
.grid-7-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 7;
	grid-column: 4;
	grid-row: 7;
}
.grid-7-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 7;
	grid-column: 5;
	grid-row: 7;
}
.grid-7-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 7;
	grid-column: 6;
	grid-row: 7;
}
.grid-7-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 7;
	grid-column: 7;
	grid-row: 7;
}
.grid-7-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 7;
	grid-column: 8;
	grid-row: 7;
}
.grid-7-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 7;
	grid-column: 9;
	grid-row: 7;
}
.grid-7-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 7;
	grid-column: 10;
	grid-row: 7;
}
.grid-8-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 8;
	grid-column: 1;
	grid-row: 8;
}
.grid-8-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 8;
	grid-column: 2;
	grid-row: 8;
}
.grid-8-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 8;
	grid-column: 3;
	grid-row: 8;
}
.grid-8-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 8;
	grid-column: 4;
	grid-row: 8;
}
.grid-8-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 8;
	grid-column: 5;
	grid-row: 8;
}
.grid-8-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 8;
	grid-column: 6;
	grid-row: 8;
}
.grid-8-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 8;
	grid-column: 7;
	grid-row: 8;
}
.grid-8-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 8;
	grid-column: 8;
	grid-row: 8;
}
.grid-8-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 8;
	grid-column: 9;
	grid-row: 8;
}
.grid-8-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 8;
	grid-column: 10;
	grid-row: 8;
}
.grid-9-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 9;
	grid-column: 1;
	grid-row: 9;
}
.grid-9-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 9;
	grid-column: 2;
	grid-row: 9;
}
.grid-9-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 9;
	grid-column: 3;
	grid-row: 9;
}
.grid-9-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 9;
	grid-column: 4;
	grid-row: 9;
}
.grid-9-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 9;
	grid-column: 5;
	grid-row: 9;
}
.grid-9-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 9;
	grid-column: 6;
	grid-row: 9;
}
.grid-9-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 9;
	grid-column: 7;
	grid-row: 9;
}
.grid-9-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 9;
	grid-column: 8;
	grid-row: 9;
}
.grid-9-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 9;
	grid-column: 9;
	grid-row: 9;
}
.grid-9-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 9;
	grid-column: 10;
	grid-row: 9;
}
.grid-10-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 10;
	grid-column: 1;
	grid-row: 10;
}
.grid-10-2 {
	-ms-grid-column: 2;
	-ms-grid-row: 10;
	grid-column: 2;
	grid-row: 10;
}
.grid-10-3 {
	-ms-grid-column: 3;
	-ms-grid-row: 10;
	grid-column: 3;
	grid-row: 10;
}
.grid-10-4 {
	-ms-grid-column: 4;
	-ms-grid-row: 10;
	grid-column: 4;
	grid-row: 10;
}
.grid-10-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 10;
	grid-column: 5;
	grid-row: 10;
}
.grid-10-6 {
	-ms-grid-column: 6;
	-ms-grid-row: 10;
	grid-column: 6;
	grid-row: 10;
}
.grid-10-7 {
	-ms-grid-column: 7;
	-ms-grid-row: 10;
	grid-column: 7;
	grid-row: 10;
}
.grid-10-8 {
	-ms-grid-column: 8;
	-ms-grid-row: 10;
	grid-column: 8;
	grid-row: 10;
}
.grid-10-9 {
	-ms-grid-column: 9;
	-ms-grid-row: 10;
	grid-column: 9;
	grid-row: 10;
}
.grid-10-10 {
	-ms-grid-column: 10;
	-ms-grid-row: 10;
	grid-column: 10;
	grid-row: 10;
}
.grid-sc-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
}
.grid-sc-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
}    
.grid-sc-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
}    
.grid-sc-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
}
.grid-sc-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
}
.grid-sc-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
}
.grid-sc-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
}
.grid-sc-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
}
.grid-sc-10 {
    -ms-grid-column-span : 10;
    grid-column-end: span 10;
}
.grid-sr-2 {
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
}
.grid-sr-3 {
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
}    
.grid-sr-4 {
    -ms-grid-row-span: 4;
    grid-row-end: span 4;
}    
.grid-sr-5 {
    -ms-grid-row-span: 5;
    grid-row-end: span 5;
}
.grid-sr-6 {
    -ms-grid-row-span: 6;
    grid-row-end: span 6;
}
.grid-sr-7 {
    -ms-grid-row-span: 7;
    grid-row-end: span 7;
}
.grid-sr-8 {
    -ms-grid-row-span: 8;
    grid-row-end: span 8;
}
.grid-sr-9 {
    -ms-grid-row-span: 9;
    grid-row-end: span 9;
}
.grid-sr-10 {
    -ms-grid-row-span: 10;
    grid-row-end: span 10;
}