.grid,
.grid-specific {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.grid-inline {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.grid-col-2 {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}
.grid-col-3 {
    -ms-grid-columns: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;  
}
.grid-col-4 {
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid-col-5 {
    -ms-grid-columns: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.grid-col-6 {
    -ms-grid-columns: 0.5% 16.5% 16.5% 16.5% 16.5% 16.5% 16.5% 0.5%;
    grid-template-columns: 0.5% 16.5% 16.5% 16.5% 16.5% 16.5% 16.5% 0.5%;
}
.grid-col-8 {
    -ms-grid-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
.grid-col-10 {
    -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}