/**/
.list-clean {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
}
/**/
.b {
    display: block;
}
.ib {
    display: inline-block;
}
.mar-8 {
    margin: 8px;
}
.mar-b-8 {
    margin-bottom: 8px;
}
.mar-b-16 {
    margin-bottom: 16px;
}
.pad-4 {
    padding: 4px;
}
.pad-8 {
    padding: 8px;
}
.pad-l-32 {
    padding-left: 32px;
}
.ta-c {
    text-align: center;
}
.w-100 {
    width: 100%;
}