<article>
    <header>
        <h2>Can Filler</h2>
    </header>
    <section>
        <fieldset class="pad-8">
            <legend>Safety</legend>
            <label>Incidents</label>
            <label>BOS Observations</label>
            <label>Safety Defects</label>
        </fieldset>
    </section>
    <section>
        <fieldset class="pad-8">
            <legend>Quality</legend>
            <label>Holds</label>
            <label>Maffus</label>
            <label>Quality Defects</label>
            <label>MSS</label>
            <label>Tests</label>
        </fieldset>
    </section>
    <section>
        <fieldset class="pad-8">
            <legend>Center Lining</legend>
            <label>CIL Completion</label>
            <label>CIL OOL</label>
            <label>CL Completion</label>
            <label>CL OOL</label>
        </fieldset>
    </section>    
    <section>
        <fieldset class="pad-8">
            <legend>Defects</legend>
            <label>New</label>
            <label>Solved</label>
            <label>Breakdowns</label>
            <label>PM Cards</label>
        </fieldset>
    </section>
    <section>
        <fieldset class="pad-8">
            <legend>Stops</legend>
            <label>Can Filler</label>
            <label>Overpack</label>
            <label>Rejects</label>
            <label>Downtime</label>
            <label>Scrap</label>
        </fieldset>
    </section>
    <section>
        <fieldset class="pad-8">
            <legend>Data</legend>
            <table>
                <thead>
                    <tr>
                        <th>Hour</th>
                        <th>14:15</th>
                        <th>15:15</th>
                        <th>16:15</th>
                        <th>17:15</th>
                        <th>18:15</th>
                        <th>19:15</th>
                        <th>20:15</th>
                        <th>21:15</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8">Main</td>
                    </tr>
                    <tr>
                        <td>Net Weight</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Rejects</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Percentage</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td colspan="8">Left: 41</td>
                    </tr>
                    <tr>
                        <td>Net Weight</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Rejects</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Percentage</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td colspan="8">Right: 42</td>
                    </tr>
                    <tr>
                        <td>Net Weight</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Rejects</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Percentage</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </section>
    <footer>footer</footer>
</article>