.grid-1-31 {
	-ms-grid-column: 31;
	-ms-grid-row: 1;
	grid-column: 31;
	grid-row: 1;
}
.grid-1-32 {
	-ms-grid-column: 32;
	-ms-grid-row: 1;
	grid-column: 32;
	grid-row: 1;
}
.grid-1-33 {
	-ms-grid-column: 33;
	-ms-grid-row: 1;
	grid-column: 33;
	grid-row: 1;
}
.grid-1-34 {
	-ms-grid-column: 34;
	-ms-grid-row: 1;
	grid-column: 34;
	grid-row: 1;
}
.grid-1-35 {
	-ms-grid-column: 35;
	-ms-grid-row: 1;
	grid-column: 35;
	grid-row: 1;
}
.grid-1-36 {
	-ms-grid-column: 36;
	-ms-grid-row: 1;
	grid-column: 36;
	grid-row: 1;
}
.grid-1-37 {
	-ms-grid-column: 37;
	-ms-grid-row: 1;
	grid-column: 37;
	grid-row: 1;
}
.grid-1-38 {
	-ms-grid-column: 38;
	-ms-grid-row: 1;
	grid-column: 38;
	grid-row: 1;
}
.grid-1-39 {
	-ms-grid-column: 39;
	-ms-grid-row: 1;
	grid-column: 39;
	grid-row: 1;
}
.grid-1-40 {
	-ms-grid-column: 40;
	-ms-grid-row: 1;
	grid-column: 40;
	grid-row: 1;
}
.grid-2-31 {
	-ms-grid-column: 31;
	-ms-grid-row: 2;
	grid-column: 31;
	grid-row: 2;
}
.grid-2-32 {
	-ms-grid-column: 32;
	-ms-grid-row: 2;
	grid-column: 32;
	grid-row: 2;
}
.grid-2-33 {
	-ms-grid-column: 33;
	-ms-grid-row: 2;
	grid-column: 33;
	grid-row: 2;
}
.grid-2-34 {
	-ms-grid-column: 34;
	-ms-grid-row: 2;
	grid-column: 34;
	grid-row: 2;
}
.grid-2-35 {
	-ms-grid-column: 35;
	-ms-grid-row: 2;
	grid-column: 35;
	grid-row: 2;
}
.grid-2-36 {
	-ms-grid-column: 36;
	-ms-grid-row: 2;
	grid-column: 36;
	grid-row: 2;
}
.grid-2-37 {
	-ms-grid-column: 37;
	-ms-grid-row: 2;
	grid-column: 37;
	grid-row: 2;
}
.grid-2-38 {
	-ms-grid-column: 38;
	-ms-grid-row: 2;
	grid-column: 38;
	grid-row: 2;
}
.grid-2-39 {
	-ms-grid-column: 39;
	-ms-grid-row: 2;
	grid-column: 39;
	grid-row: 2;
}
.grid-2-40 {
	-ms-grid-column: 40;
	-ms-grid-row: 2;
	grid-column: 40;
	grid-row: 2;
}
