.grid-1-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 1;
	grid-column: 11;
	grid-row: 1;
}
.grid-1-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 1;
	grid-column: 12;
	grid-row: 1;
}
.grid-1-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 1;
	grid-column: 13;
	grid-row: 1;
}
.grid-1-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 1;
	grid-column: 14;
	grid-row: 1;
}
.grid-1-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 1;
	grid-column: 15;
	grid-row: 1;
}
.grid-1-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 1;
	grid-column: 16;
	grid-row: 1;
}
.grid-1-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 1;
	grid-column: 17;
	grid-row: 1;
}
.grid-1-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 1;
	grid-column: 18;
	grid-row: 1;
}
.grid-1-19 {
	-ms-grid-column: 19;
	-ms-grid-row: 1;
	grid-column: 19;
	grid-row: 1;
}
.grid-1-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 1;
	grid-column: 20;
	grid-row: 1;
}
.grid-2-11 {
	-ms-grid-column: 11;
	-ms-grid-row: 2;
	grid-column: 11;
	grid-row: 2;
}
.grid-2-12 {
	-ms-grid-column: 12;
	-ms-grid-row: 2;
	grid-column: 12;
	grid-row: 2;
}
.grid-2-13 {
	-ms-grid-column: 13;
	-ms-grid-row: 2;
	grid-column: 13;
	grid-row: 2;
}
.grid-2-14 {
	-ms-grid-column: 14;
	-ms-grid-row: 2;
	grid-column: 14;
	grid-row: 2;
}
.grid-2-15 {
	-ms-grid-column: 15;
	-ms-grid-row: 2;
	grid-column: 15;
	grid-row: 2;
}
.grid-2-16 {
	-ms-grid-column: 16;
	-ms-grid-row: 2;
	grid-column: 16;
	grid-row: 2;
}
.grid-2-17 {
	-ms-grid-column: 17;
	-ms-grid-row: 2;
	grid-column: 17;
	grid-row: 2;
}
.grid-2-18 {
	-ms-grid-column: 18;
	-ms-grid-row: 2;
	grid-column: 18;
	grid-row: 2;
}
.grid-2-19 {
	-ms-grid-column: 19;
	-ms-grid-row: 2;
	grid-column: 19;
	grid-row: 2;
}
.grid-2-20 {
	-ms-grid-column: 20;
	-ms-grid-row: 2;
	grid-column: 20;
	grid-row: 2;
}
