.grid-1-21 {
	-ms-grid-column: 21;
	-ms-grid-row: 1;
	grid-column: 21;
	grid-row: 1;
}
.grid-1-22 {
	-ms-grid-column: 22;
	-ms-grid-row: 1;
	grid-column: 22;
	grid-row: 1;
}
.grid-1-23 {
	-ms-grid-column: 23;
	-ms-grid-row: 1;
	grid-column: 23;
	grid-row: 1;
}
.grid-1-24 {
	-ms-grid-column: 24;
	-ms-grid-row: 1;
	grid-column: 24;
	grid-row: 1;
}
.grid-1-25 {
	-ms-grid-column: 25;
	-ms-grid-row: 1;
	grid-column: 25;
	grid-row: 1;
}
.grid-1-26 {
	-ms-grid-column: 26;
	-ms-grid-row: 1;
	grid-column: 26;
	grid-row: 1;
}
.grid-1-27 {
	-ms-grid-column: 27;
	-ms-grid-row: 1;
	grid-column: 27;
	grid-row: 1;
}
.grid-1-28 {
	-ms-grid-column: 28;
	-ms-grid-row: 1;
	grid-column: 28;
	grid-row: 1;
}
.grid-1-29 {
	-ms-grid-column: 29;
	-ms-grid-row: 1;
	grid-column: 29;
	grid-row: 1;
}
.grid-1-30 {
	-ms-grid-column: 30;
	-ms-grid-row: 1;
	grid-column: 30;
	grid-row: 1;
}
.grid-2-21 {
	-ms-grid-column: 21;
	-ms-grid-row: 2;
	grid-column: 21;
	grid-row: 2;
}
.grid-2-22 {
	-ms-grid-column: 22;
	-ms-grid-row: 2;
	grid-column: 22;
	grid-row: 2;
}
.grid-2-23 {
	-ms-grid-column: 23;
	-ms-grid-row: 2;
	grid-column: 23;
	grid-row: 2;
}
.grid-2-24 {
	-ms-grid-column: 24;
	-ms-grid-row: 2;
	grid-column: 24;
	grid-row: 2;
}
.grid-2-25 {
	-ms-grid-column: 25;
	-ms-grid-row: 2;
	grid-column: 25;
	grid-row: 2;
}
.grid-2-26 {
	-ms-grid-column: 26;
	-ms-grid-row: 2;
	grid-column: 26;
	grid-row: 2;
}
.grid-2-27 {
	-ms-grid-column: 27;
	-ms-grid-row: 2;
	grid-column: 27;
	grid-row: 2;
}
.grid-2-28 {
	-ms-grid-column: 28;
	-ms-grid-row: 2;
	grid-column: 28;
	grid-row: 2;
}
.grid-2-29 {
	-ms-grid-column: 29;
	-ms-grid-row: 2;
	grid-column: 29;
	grid-row: 2;
}
.grid-2-30 {
	-ms-grid-column: 30;
	-ms-grid-row: 2;
	grid-column: 30;
	grid-row: 2;
}
