* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- COMPONENT: comp-arrow-links ----------
*   dependant on easyreprting.css.
*   The wrapper element needs a color-bg class. The ul element needs a color-bor class. List items can be given individual color-bg classes as well.
*   So if we give the wrapper element a color, we also need to give the ul element the same color-bor.
*   Supported: [ null, null, null ], [ null, null, color-bg ], [ color-bg, color-bor, null ], [ color-bg, null, color-bg ], [ color-bg, color-bor, color-bg ]
*   Unsupported: [ color-bg, null, null ], [ null, color-bor, null ]
*/
.comp-arrow-links {
    background-color: inherit; /* inherit the bg color from the wrapper */
    display: block; /* ib to wrap aropund all elements, b for fullwidth */
    list-style: none;
}
.comp-arrow-links[class="comp-arrow-links"] li:not([class]) { /* fixes null null null */
    background-color: lightgrey;
}
.comp-arrow-links[class="comp-arrow-links"] { /* fixes null null color-bg */
    border-color: white;
}
.comp-arrow-links li:not([class]) { /* fixes color-bg color-bor null */
    background-color: white;
}
.comp-arrow-links li {
    border-color: inherit;
    display: inline-block; /* items need to be behind eachother */
    padding-left: 16px; /* border-size, so there's room to render the borders */
    padding-right: 16px; /* border-size, so there's room to render the borders */
    position: relative; /* so we can absolutely position the pseudo element */
    width: calc( 20% - 4px ); /* 100% divided by the amount of links minus standard padding */
}
.comp-arrow-links li::before {
    background-color: inherit;
    border-width: 16px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: inherit;
    border-bottom-color: transparent;
    border-right: transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
}
.comp-arrow-links li::after {
    background-color: inherit;
    border-width: 16px;
    border-style: solid;
    border-top-color: inherit;
    border-left-color: transparent;
    border-bottom-color: inherit;
    border-right: inherit;
    bottom: 0;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.comp-arrow-links a {
    background-color: transparent;
    color: black;
    display: inline-block; /* ib or b so we can position the text correctly */
    font-size: 20px;
    line-height: 32px; /* 2 * bordersize */
    text-align: center;
    text-decoration: none;
    width: 100%;
}