* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- COMPONENT: comp-buttons ----------
*   dependant on easyreporting.css
*/
.comp-button-blue {
    background-color: rgba( 0, 152, 219, 1 );
}
.comp-button-blue:hover /*, .blue-hover:focus */ {
    background-color: rgba( 0, 122, 201, 1 );
}
.comp-button-orange {
    background-color: rgba( 238, 175, 48, 1 );
}
.comp-button-orange:hover /*, .orange-hover:focus */ {
    background-color: rgba( 223, 160, 33, 1 );
}
.comp-button-orange:active {
    background-color: rgba( 208, 145, 18, 1 );
}
.comp-button-small, .comp-button-medium, .comp-button-large  {
    border: 1px solid rgba( 128, 128, 128, 1 ); /* basic grey */
    border-radius: 4px;
    box-shadow: inset 0 3px 0 rgba( 255, 255, 255, 0.5 ), 2px 3px 3px rgba( 0, 0, 0, 0.35 );
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    text-align: center;
    text-shadow: 0px -1px 0 rgba( 255, 255, 255, 0.5 );
    transition-duration: 0.2s; /* by applying the transition to the main class instead of the focus class, we ensure it works both on hover in and on hover out */
}
.comp-button-small {
    height: 40px;
    width: 80px;
}
.comp-button-medium {
    height: 60px;
    width: 120px;
}
.comp-button-large {
    height: 80px;
    width: 160px;
}
.comp-button-small:hover, .comp-button-medium:hover, .comp-button-large:hover /*, comp-button-shader:focus*/ {
    border: 1px solid rgba( 110, 110, 110, 1 );
}
.comp-button-small:active, .comp-button-medium:active, .comp-button-large:active {
    border: 1px solid rgba( 90, 90, 90, 1 );
    box-shadow: inset 2px 3px 6px 1px rgba( 0, 0, 0, 0.6 );
}