* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- COMPONENT: comp-menu-list ----------
*   dependant on easyreporting.css.color-3-bg , easyreporting.css.color-4-bg
*/
.comp-menu-list {
    background-color: rgba( 224, 224, 224, 1 ); /* easyreporting.css.color-3-bg */
    border: 1px solid rgba( 128, 128, 128, 1 );
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block; /* ib to wrap aropund all elements, b for fullwidth */
    height: 100%;
    list-style: none;
    padding: 16px 0;
    width: 100%;
}
.comp-menu-list > li {
    border-top: 1px solid rgba( 224, 224, 224, 1 );
    border-bottom: 1px solid rgba( 224, 224, 224, 1 );
    border-right: 1px solid transparent;
    width: 100%;
}
.comp-menu-list > li:not(.active):hover, .comp-menu-list > li:not(.active) > *:hover {
    background-color: rgba( 210, 210, 210, 1 ); /* easyreporting.css.color-22-bg */
    border-right: 1px solid transparent;
}
.comp-menu-list > li.active {
    background-color: rgba( 238, 238, 238, 1 ); /* easyreporting.css.color-4-bg */
    border-top: 1px solid rgba( 128, 128, 128, 1 );
    border-bottom: 1px solid rgba( 128, 128, 128, 1 );
    border-right: 1px solid transparent;
    width: calc( 100% + 1px );
}