* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- COMPONENT: comp-dropdown-linked ----------
*   dependant on easyreporting.css.color-7-bor
*/
.comp-dropdown-linked {
    display: inline-block;
    min-width: 140px;
}