* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- COMPONENT: comp-picker-datetime ----------
*   
*/
/* ---------- pdt-increase, pdt-decrease, pdt-select, hover-greys, hover-colorless ----------
*
*/
button.pdt-increase, button.pdt-decrease {
	border: none;
	display: inline-block;
	height: 11px;
	width: 100%;
}
button.pdt-increase::after {
	border-bottom: 4px solid black;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	content: "";
	height: 0;
	margin: 0 auto;
	position: relative;
	top: -12px; /* -10px = align with bottom */
	width: 0;
}

button.pdt-decrease::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
	content: "";
	height: 0;
	margin: 0 auto;
	position: relative;
	top: 5px; /* 3px = align with top */
	width: 0;
}
button.pdt-increase.hover-greys:active::after {
	border-bottom: 4px solid white;
}
button.pdt-decrease.hover-greys:active::after {
	border-top: 4px solid white;
}
button.hover-greys {
	background-color: rgba( 238, 238, 238, 1 ); /* color-3-bg */
}
button.hover-greys:hover {
	background-color: rgba( 224, 224, 224, 1 );
}
button.hover-greys:active {
	background-color: rgba( 128, 128, 128, 1 ); /* color-13-bg grey */
}
button.hover-colorless {
	background-color: white;
}
.triangle-d-m > div { /* TODO: remake this as a button */
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid black;
	height: 0;
	margin: 0 auto;
	position: relative;
	top: 2px;
	width: 0;
}
/*---------- comp-picker-datetime ----------
*
*/
/* styling */
.comp-picker-datetime {
    background-color: rgba( 255, 255, 255, 1 );
	border: 1px solid grey;
	display: -ms-inline-grid;
	display: inline-grid;
	font-family: monospace;
	font-size: 14px;
	/* divides
		date - time divide  : - By making the grid cell 24px wide, we can assure a 16px surface and 8px margin-left fitting in one cell without inserting another spacing element.
		time - cancel divide: - By making the grid cell 28px wide, we haver room for 14px whitespace left of the element and a turned plus sign 14px wide.  Normally we'd use 16px, but this makes the transform overlap.
							  - Setting a date has to add the .active class to the next element.
	*/
	-ms-grid-columns: 16px 8px 16px 8px 31px 24px 8px 16px 28px 16px 1fr;
	grid-template-columns: 16px 8px 16px 8px 31px 24px 8px 16px 28px 16px 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	height: 24px;
	padding: 0 1px; /* padding: since the up/down arrows have no margin top or bottom, we can't just put padding on the wrapper apart from the left side */
	vertical-align: middle; /* center the component. Else the upper border will align with the upper border of the container, no matter what other content theres around. */
    width: 194px; /* exactly 190px without any padding or margin, so 194px with box-sizing: border box */
}
.comp-picker-datetime input {
	border: none;
	font-family: monospace;
	font-size: 13px;
}
.comp-picker-datetime input:focus {
	background-color: rgba( 238, 175, 48, 0.5 ); /* color-7-bor */
	outline: none;
}
.comp-picker-datetime input::selection {
	background-color: transparent;
}
.comp-picker-datetime input[type=number]::-webkit-inner-spin-button, 
.comp-picker-datetime input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.comp-picker-datetime.active, .comp-picker-datetime:focus {
	border: 1px solid rgba( 238, 175, 48, 1 ); /* color-7-bor */
	border-radius: 2px;
}
.comp-picker-datetime:focus-within {
	border: 1px solid rgba( 238, 175, 48, 1 ); /* color-7-bor */
	border-radius: 2px;
}
.comp-picker-datetime > * {
	display: inline-block;
	-ms-grid-row: 1;
	grid-row: 1;
	line-height: 18px; /* 24 - 2px borders - 2px padding - 2px ??? */
}
.comp-picker-datetime .pdt-clear,
.comp-picker-datetime .pdt-arrows,
.comp-picker-datetime .pdt-show-popup {
	visibility: hidden;
}
.comp-picker-datetime:hover .pdt-clear.active,
.comp-picker-datetime.active .pdt-clear.active,
.comp-picker-datetime:hover .pdt-arrows,
.comp-picker-datetime.active .pdt-arrows,
.comp-picker-datetime:hover .pdt-show-popup,
.comp-picker-datetime.active .pdt-show-popup {
	visibility: visible;
}
.comp-picker-datetime > *:not( :nth-child( 10 ) ) {
	margin-bottom: 2px;
	margin-top: 2px;
}
.pdt-arrows {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.pdt-arrows > button:first-child {
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 1;
	grid-row: 1;
}
.pdt-arrows > button:last-child {
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 2;
	grid-row: 2;
}
.pdt-clear {
	color: rgba( 238, 175, 48, 1 );
	cursor: default;
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
}
.pdt-show-popup {
	bottom: 2px;
	height: 14px;
	padding-top: 2px;
	position: relative;
	top: 2px;
}
.pdt-show-popup:hover {
	background-color: rgba( 238, 238, 238, 1 );
}
/* grid positions */
.comp-picker-datetime > *:nth-child( 1 ) {
	-ms-grid-column: 1;
	grid-column: 1;
}
.comp-picker-datetime > *:nth-child( 2 ) {
	-ms-grid-column: 2;
	grid-column: 2;
}
.comp-picker-datetime > *:nth-child( 3 ) {
	-ms-grid-column: 3;
	grid-column: 3;
}
.comp-picker-datetime > *:nth-child( 4 ) {
	-ms-grid-column: 4;
	grid-column: 4;
}
.comp-picker-datetime > *:nth-child( 5 ) {
	-ms-grid-column: 5;
	grid-column: 5;
}
.comp-picker-datetime > *:nth-child( 6 ) {
	-ms-grid-column: 6;
	grid-column: 6;
}
.comp-picker-datetime > *:nth-child( 7 ) {
	-ms-grid-column: 7;
	grid-column: 7;
}
.comp-picker-datetime > *:nth-child( 8 ) {
	-ms-grid-column: 8;
	grid-column: 8;
}
.comp-picker-datetime > *:nth-child( 9 ) {	
	-ms-grid-column: 9;
	grid-column: 9;
}
.comp-picker-datetime > *:nth-child( 10 ) {
	-ms-grid-column: 10;
	grid-column: 10;
}
.comp-picker-datetime > *:nth-child( 11 ) {
	-ms-grid-column: 11;
	grid-column: 11;
}