/*  RESET & GLOBALS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table th, table td {
    border: 1px solid rgba( 128, 128, 128, 1 ); /* grey - Standard */
    padding: 4px;
}
/*  COLORS ...

    [
        { "name" : "black",     "type" : null,      "rgba" : "( 0, 0, 0, 1 )",          "code" :   0,   "source" : "standard",      "text" : null                               },
        { "name" : "white",     "type" : null,      "rgba" : "( 255, 255, 255, 1 )",    "code" : 765,   "source" : "standard",      "text" : null                               },
        { "name" : "white",     "type" : null,      "rgba" : "( 238, 238, 238, 1 )",    "code" : 714,   "source" : "er",            "text" : "current whiteish background"      },
        { "name" : "grey" ,     "type" : null,      "rgba" : "( 224, 224, 224, 1 )",    "code" : 672,   "source" : "kellogg",       "text" : "current light greyish background" },
        { "name" : "grey" ,     "type" : "old",     "rgba" : "( 201, 201, 201, 1 )",    "code" : 603,   "source" : "er",            "text" : null                               },
        { "name" : "blue",      "type" : "light",   "rgba" : "( 153, 153, 255, 1 )",    "code" : 561,   "source" : "legacy",        "text" : "easy tracking legacy blue"        },
        { "name" : "orange",    "type" : null,      "rgba" : "( 238, 175, 48, 1 )",     "code" : 509,   "source" : "er",            "text" : null                               },
        { "name" : "yellow",    "type" : null,      "rgba" : "( 252, 217, 1, 1 )",      "code" : 470,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "yellow",    "type" : "dark",    "rgba" : "( 238, 174, 48, 1 )",     "code" : 460,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "blue",      "type" : null,      "rgba" : "( 80, 153, 219, 1 )",     "code" : 452,   "source" : "er",            "text" : null                               },
        { "name" : "blue",      "type" : "fluo",    "rgba" : "( 0, 169, 244, 1 )",      "code" : 413,   "source" : "legacy",        "text" : "kellogg legacy blue fluo"         }, 
        { "name" : "green",     "type" : "fluo",    "rgba" : "( 190, 219, 0, 1 )",      "code" : 409,   "source" : "kellogg",       "text" : null                               },
        { "name" : "grey",      "type" : null,      "rgba" : "( 128, 128, 128, 1 )",    "code" : 384,   "source" : "standard",      "text" : null                               },
        { "name" : "blue",      "type" : "light",   "rgba" : "( 2, 153, 206, 1 )",      "code" : 361,   "source" : "er",            "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 238, 53, 35, 1 )",      "code" : 326,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 211, 17, 69, 1 )",      "code" : 297,   "source" : "legacy",        "text" : "kellogg legacy red"               },
        { "name" : "indigo",    "type" : null,      "rgba" : "( 181, 26, 70, 1 )",      "code" : 277,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "red",       "type" : null,      "rgba" : "( 181, 24, 71, 1 )",       "code" : 276,   "source" : "kellogg",       "text" : "kellogg current red"              },
        { "name" : "indigo",    "type" : "dark",    "rgba" : "( 151, 23, 46, 1 )",      "code" : 220,   "source" : "rainbow_1",     "text" : null                               },
        { "name" : "green",     "type" : "dark",    "rgba" : "( 0, 115, 99,1 )",        "code" : 214,   "source" : "kellogg",       "text" : null                               },
        { "name" : "blue",      "type" : "dark",    "rgba" : "( 0, 51, 102, 0.9 )",     "code" : 153,   "source" : "legacy",        "text" : "easy tracking legacy blue"        }
    ]
    
    DEFAULT ER REPORTS:
        background page:        color-3     white
        background element:     color-4     white/grey
        element active:         color-7     orange
        element passive:        color-11    blue
        borders:                color-13    grey
        color contrast          color-17    red
    
    KELLOGG RAINBOW_1: indigo color-17 => indigo color-19 => red color-15 => yellow color-9 => yellow color-8

    KELLOGG RAINBOW_2: 
                   
*/
.color-1-bg { /*    black - standard -     */
    background-color: rgba( 0, 0, 0, 1 );
}
.color-1-bor {
    border-color: rgba( 0, 0, 0, 1 );
}
.color-1-t {
    color: rgba( 0, 0, 0, 1 );
}
.color-2-bg { /*    white - standard -     */
    background-color: rgba( 255, 255, 255, 1 );
}
.color-2-bor {
    border-color: rgba( 255, 255, 255, 1 );
}
.color-2-t {
    color: rgba( 255, 255, 255, 1 );
}
.color-3-bg { /*    white - er -     */
    background-color: rgba( 238, 238, 238, 1 );
}
.color-3-bor {
    border-color: rgba( 238, 238, 238, 1 );
}
.color-3-t {
    color: rgba( 238, 238, 238, 1 );
}
.color-4-bg { /*    grey - kellogg -     */
    background-color: rgba( 224, 224, 224, 1 );
}
.color-4-bor {
    border-color: rgba( 224, 224, 224, 1 );
}
.color-4-t {
    color: rgba( 224, 224, 224, 1 );
}
.color-5-bg { /*    grey - er - old    */
    background-color: rgba( 201, 201, 201, 1 );
}
.color-5-bor {
    border-color: rgba( 201, 201, 201, 1 );
}
.color-5-t {
    color: rgba( 201, 201, 201, 1 );
}
.color-6-bg { /*    blue - legacy - light    */
    background-color: rgba( 153, 153, 255, 1 );
}
.color-6-bor {
    border-color: rgba( 153, 153, 255, 1 );
}
.color-6-t {
    color: rgba( 153, 153, 255, 1 );
}
.color-7-bg { /*    orange - er -     */
    background-color: rgba( 238, 175, 48, 1 );
}
.color-7-bor {
    border-color: rgba( 238, 175, 48, 1 );
}
.color-7-t {
    color: rgba( 238, 175, 48, 1 );
}
.color-8-bg { /*    yellow - rainbow_1 -     */
    background-color: rgba( 252, 217, 1, 1 );
}
.color-8-bor {
    border-color: rgba( 252, 217, 1, 1 );
}
.color-8-t {
    color: rgba( 252, 217, 1, 1 );
}
.color-9-bg { /*    yellow - rainbow_1 - dark    */
    background-color: rgba( 238, 174, 48, 1 );
}
.color-9-bor {
    border-color: rgba( 238, 174, 48, 1 );
}
.color-9-t {
    color: rgba( 238, 174, 48, 1 );
}
.color-10-bg { /*    blue - er -     */
    background-color: rgba( 80, 153, 219, 1 );
}
.color-10-bor {
    border-color: rgba( 80, 153, 219, 1 );
}
.color-10-t {
    color: rgba( 80, 153, 219, 1 );
}
.color-11-bg { /*    blue - Kellogg - fluo    */
    background-color: rgba( 0, 169, 244, 1 );
}
.color-11-bor {
    border-color: rgba( 0, 169, 244, 1 );
}
.color-11-t {
    color: rgba( 0, 169, 244, 1 );
}
.color-12-bg { /*    green - kellogg - fluo    */
    background-color: rgba( 190, 219, 0, 1 );
}
.color-12-bor {
    border-color: rgba( 190, 219, 0, 1 );
}
.color-12-t {
    color: rgba( 190, 219, 0, 1 );
}
.color-13-bg { /*    grey - standard -     */
    background-color: rgba( 128, 128, 128, 1 );
}
.color-13-bor {
    border-color: rgba( 128, 128, 128, 1 );
}
.color-13-t {
    color: rgba( 128, 128, 128, 1 );
}
.color-14-bg { /*    blue - er - light    */
    background-color: rgba( 2, 153, 206, 1 );
}
.color-14-bor {
    border-color: rgba( 2, 153, 206, 1 );
}
.color-14-t {
    color: rgba( 2, 153, 206, 1 );
}
.color-15-bg { /*    red - rainbow_1 -     */
    background-color: rgba( 238, 53, 35, 1 );
}
.color-15-bor {
    border-color: rgba( 238, 53, 35, 1 );
}
.color-15-t {
    color: rgba( 238, 53, 35, 1 );
}
.color-16-bg { /*    red - legacy -     */
    background-color: rgba( 211, 17, 69, 1 );
}
.color-16-bor {
    border-color: rgba( 211, 17, 69, 1 );
}
.color-16-t {
    color: rgba( 211, 17, 69, 1 );
}
.color-17-bg { /*    indigo - rainbow_1 -     */
    background-color: rgba( 181, 26, 70, 1 );
}
.color-17-bor {
    border-color: rgba( 181, 26, 70, 1 );
}
.color-17-t {
    color: rgba( 181, 26, 70, 1 );
}
.color-18-bg { /*    red - kellogg -     */
    background-color: rgba( 181, 24, 71, 1 );
}
.color-18-bor {
    border-color: rgba( 181, 24, 71, 1 );
}
.color-18-t {
    color: rgba( 181, 24, 71, 1 );
}
.color-19-bg { /*    indigo - rainbow_1 - dark    */
    background-color: rgba( 151, 23, 46, 1 );
}
.color-19-bor {
    border-color: rgba( 151, 23, 46, 1 );
}
.color-19-t {
    color: rgba( 151, 23, 46, 1 );
}
.color-20-bg { /*    green - kellogg - dark    */
    background-color: rgba( 0, 115, 99,1 );
}
.color-20-bor {
    border-color: rgba( 0, 115, 99,1 );
}
.color-20-t {
    color: rgba( 0, 115, 99,1 );
}
.color-21-bg { /*    blue - legacy - dark    */
    background-color: rgba( 0, 51, 102, 0.9 );
}
.color-21-bor {
    border-color: rgba( 0, 51, 102, 0.9 );
}
.color-21-t {
    color: rgba( 0, 51, 102, 0.9 );
}
.color-22-bg { /*    grey - chrome    */
    color: rgba( 210, 210, 210, 1 );
}
.color-22-bor {
    border-color: rgba( 210, 210, 210, 1 );
}
.color-22-t {
    color: rgba( 210, 210, 210, 1 );
}
.color-23-t {   
    color: rgba( 219, 239, 255, 1 );
}
.color-23-bg { /*    blue - kellogg - extra light - granola box 'no added sugar'    */
    background-color: rgba( 219, 239, 255, 1 );
}
.color-23-bor {
    border-color: rgba( 219, 239, 255, 1 );
}
.color-24-t {
    color: rgba( 102, 203, 234, 1 );
}
.color-24-bg { /*    blue - microsoft - azure    */   
    background-color: rgba( 102, 203, 234, 1 );
}
.color-24-bor {
    border-color: rgba( 102, 203, 234, 1 );
}
.gradient-1-bg {/* indigo => yelllow - Kellogg Rainbow 1 */
    background-color: rgba(181,26,70,1);
    background-image: linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -ms-background-image: -ms-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -moz-background-image: -moz-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -o-background-image: -o-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -webkit-background-image: -webkit-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
}
.gradient-2-bg {/*  blue => white */
    background-color: rgba(80,153,219,1);
    background-image: linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -ms-background-image: -ms-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -moz-background-image: -moz-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -o-background-image: -o-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );
    -webkit-background-image: -webkit-linear-gradient( rgba(80,153,219,1) 20%, rgba(224,224,224,1) );    
}
/*  BORDERS & MARGIN & PADDING & SIZE */
.bor {
    border: 1px solid rgba( 128, 128, 128, 1 ); /* grey - Standard */
}
.bor-round {
    border-radius: 4px;
}
.bor-noleft {
    border-bottom-left-radius: 0px;
    border-left: none;
    border-top-left-radius: 0px;
    z-index: -1;
}
.bor-noright {
    border-bottom-right-radius: 0px;
    border-right: none;
    border-top-right-radius: 0px;
}
.h-100 {
    height: 100%;
}
.mar-4 {
    margin: 4px;
}
.mar-b-4 {
    margin-bottom: 4px;
}
.mar-l-8 {
    margin-left: 8px;
}
.mar-l-14 {
    margin-left: 14px;
}
.mar-l-32 {
    margin-left: 32px;
}
.mar-t-32 {
    margin-top: 32px;
}
.pad-4 {
    padding: 4px;
}
.pad-8 {
    padding: 8px;
}
.pad-l-8 {
    padding-left: 8px;
}
.pad-l-38 { /* By providing a 32 + 4 + 4 + 2, we can align a container with a heading using mar-l-32 + pad-4 + 1px border */
    padding-left: 42px;
}
.pad-l-42 { /* By providing a 32 + 4 + 4 + 2, we can align a container with a heading using mar-l-32 + pad-4 + 1px border + an inner element using pad-4 */
    padding-left: 42px;
}
.pad-r-8 {
    padding-right: 8px;
}
/* define the offset After the padding and margin so it can overwrite those; */
.offset-fieldset { /* align both the wrapper and the first containing row to align with a fieldset with padding 4px */
	margin-top: 14px;
	padding-top: 18px;
	vertical-align: top;
}
.w-10 {
    width: 10%;
}
.w-100 {
    width: 100%;
}
.w-min--50 {
    min-width: 50px;
}
.w-min--100 {
    min-width: 100px;
}
.w-min--150 {
    min-width: 150px;
}
.w-min--400 {
    min-width: 400px;
}
/*  POSITIONING */
.b {
    display: block;
}
.ib {
    display: inline-block;
}
/*  DECORATORS */
.bold {
    font-weight: bold;
}
.caps-small {
    font-size: 0.8em;
}
.focus:focus {
    border: 1px solid rgba( 238, 175, 48, 1 ); /* color-7-bor */
}
.dis-gone {
    display: none;
}
.dis-hidden {
    visibility: hidden;
}
.hover-link {
	cursor: pointer;
}
.list-none {
    list-style: none;
}
.ta-c {
    text-align: center;
}
.ta-l {
    text-align: left;
}
.ta-r {
    text-align: right;
}
.unselectable {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}