<template id="component_downtimebar">
    <div class="comp-dtbar-bar">
        <label class="comp-dtbar-sundial" data-symbol="${sundial.symbol}" style="left: ${sundial.offset}%;"></label>
        <span data-tmpl="foreach duration in durations" class="comp-dtbar-duration comp-dtbar-${duration.type}" style="width: ${duration.width}%;">${duration.label}</span>
    </div>
    <div>
        <label data-tmpl="foreach timing in timings" class="comp-dtbar-timing">${timing}</label>
    </div>
</template>
<template id="component_picker_datetime">
	<div id="picker_datetime_${name}" class="comp-picker-datetime">
		<input id="pdt_Date_${name}" max="31" maxlength="2" min="1" placeholder="dd" type="number" value="${values.Date}"/>
		<span class="">&#47;</span>
		<input id="pdt_Month_${name}" max="12" maxlength="2" min="1" placeholder="mm" type="number" value="${values.Month}"/>
		<span class="unselectable">&#47;</span>
		<input id="pdt_FullYear_${name}" max="9999" maxlength="4" min="0001" placeholder="jjjj" type="number" value="${values.FullYear}"/>
		<input class="mar-l-8" id="pdt_Hours_${name}" max="23" maxlength="2" min="0" placeholder="--" type="number" value="${values.Hours}"/>
		<span class="unselectable">:</span>
		<input id="pdt_Minutes_${name}" max="59" maxlength="2" min="0" placeholder="--" type="number" value="${values.Minutes}"/>
		<span id="pdt_clear_${name}" class="active mar-l-14 pdt-clear unselectable">&times;</span>
		<span class="pdt-arrows">
			<button class="pdt-increase hover-greys unselectable" id="pdt_increase_${name}"></button>
			<button class="pdt-decrease hover-greys unselectable" id="pdt_decrease_${name}"></button>
		</span>
		<span class="pdt-show-popup triangle-d-m unselectable" id="pdt_show_popup_${name}">
			<div></div>
		</span>
	</div>
</template>
<template id="output_table">
    <table>
        <thead>
            <tr data-tmpl="if headers_render = true">
                <th data-tmpl="foreach header in headers_table">${header}</th> 
            </tr>
        </thead>
        <tbody>
            <tr data-tmpl="if resource.length != 0, foreach entry in resource">
                <td data-tmpl="foreach header in source.headers_table">${source.entry[header]}</td>
            </tr>
            <tr data-tmpl="if resource.length = 0">
                <th colspan="99">No data</th>
            </tr>
        </tbody>
    </table>
</template>
<template id="output_table_groups">
    <table>
        <thead>
            <template data-tmpl="if headers_render = true">
                <tr>
                    <th>${headers[0]}</th>
                    <th data-tmpl="foreach header in headers_data">${header}</th>
                </tr>
                <tr>
                    
                </tr>
            </template>
        </thead>
        <tbody>
            <template data-tmpl="foreach group in resource">
                <tr>
                    <td class="grouping" rowspan="${exec( group.data.length + 1 )}">${exec(group[source.headers[0]])}</td>
                </tr>
                <tr data-tmpl="foreach entry in group.data">
                    <td data-tmpl="foreach header in source.source.headers_data">${source.entry[header]}</td>
                </tr>
            </template>
        </tbody>
    </table>
</template>
<template id="report_draggable_board">
    <nav class="dragboard-menu grid-1-1">
        <div class="link-fancy grid">
            <div class="grid-1-1"></div>
            <div class="link-fancy-bar grid-1-2 grid-sc-2"></div>
            <div class="grid-1-4"></div>
            <div class="link-fancy-content grid-2-1 grid-sc-4">
                <div>+</div>
            </div>
            <div class="grid-3-1"></div>
            <div class="link-fancy-bar grid-3-2 grid-sc-2"></div>
            <div class="grid-3-4"></div>
        </div>
    </nav>
    <section class="dragboard-boards grid-1-2">
        <template data-tmpl="foreach category in categories">
            <h2 class="grid-1-${exec(collection.index + 1)}">${category.name}</h2>
            <ul class="dragboard-list grid-2-${exec(collection.index + 1)}">
                <li id="card-${collection.index}" draggable="true" class="dragb-card" data-tmpl="foreach card in category.cards">${card}</li>
            </ul>
        </template>
    </section>
    <script src="http://mecvm21/ER/api/draggable_board.js"></script>
</template>
<template id="idd_organisation">
    <h1>If Down Do</h1>
	<h3 data-tmpl="if label_idd_select_organisation exists">${label_idd_select_organisation}</h3>
	<ul class="list-none mar-t-32">
		<li class="ib">
			<a href="#/cns/search">
				<button class="comp-button-orange comp-button-large hover-link">C&amp;S</button>
			</a>
		</li>	
		<li class="ib">
			<a href="#/eni/search">
				<button class="comp-button-orange comp-button-large hover-link">E&amp;I</button>
			</a>
		</li>
		<li class="ib">
			<a href="#/packing/search">
				<button class="comp-button-orange comp-button-large hover-link">Packing</button>
			</a>
		</li>
		<li class="ib">
			<a href="#/process/search">
				<button class="comp-button-orange comp-button-large hover-link">Process</button>
			</a>
		</li>
		<li class="ib">
			<a href="#/shop/search">
				<button class="comp-button-orange comp-button-large hover-link">Shop</button>
			</a>
		</li>
		<li class="ib">
			<a href="#/supply/search">
				<button class="comp-button-orange comp-button-large hover-link">Supply</button>
			</a>
		</li>
	</ul>
</template>
<template id="idd_entry">
    <fieldset id="idd_entry" class="ib bor color-4-bg pad-4">
        <legend class="pad-4 ta-c">
            <h3>&nbsp;</h3>
        </legend>
        <section class="grid pad-4">
            <!-- 6 -->
			<template data-tmpl="component">dropdown_labelled_idd_organisation</template>
            <template data-tmpl="component">dropdown_labelled_idd_type</template>
			<label>Prioriteit:</label>
            <select id="dropdown_idd_priority" class="bor bor-round focus pad-4">
				<option value="default" selected="true">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <!-- 6 -->
            <label>Wanneer:</label>
            <select id="dropdown_idd_condition" class="bor bor-round focus pad-4">
                <option value="default" disabled="true" selected="true">Select</option>
                <option value="down">Down</option>
                <option value="run">Run</option>
            </select>
            <label>Duurtijd:</label>
            <select id="dropdown_idd_duration" class="bor bor-round focus pad-4">
                <option value="default" disabled="true" selected="true">Select</option>
                <option value="class_a">Class A</option> 
                <option value="20">&lt; &nbsp;&nbsp;20min</option>
                <option value="30">&lt; &nbsp;&nbsp;30min</option>
                <option value="45">&lt; &nbsp;&nbsp;45min</option>
                <option value="60">&lt; &nbsp;&nbsp;60min</option>
                <option value="90">&lt; &nbsp;&nbsp;90min</option>
                <option value="120">&lt; 120min</option>
                <option value="150">&lt; 150min</option>
                <option value="180">&lt; 180min</option>
                <option value="210">&lt; 210min</option>
                <option value="240">&lt; 240min</option>
                <option value="270">&lt; 270min</option>
                <option value="300">&lt; 300min</option>
                <option value="330">&lt; 330min</option>
                <option value="360">&lt; 360min</option>
                <option value="+360">&gt; 360min</option>
            </select>
            <label>Tegen:</label>
            <template data-tmpl="component">picker_datetime_idd_duetime</template>
            <!-- 4 -->
			<template data-tmpl="component">dropdown_labelled_idd_assignee</template>
			<template data-tmpl="component">dropdown_labelled_idd_type_organisation</template>
			<!-- 4 -->
            <label>Order nummer:</label>
            <input id="input_idd_id_order" type="number" class="bor bor-round focus pad-4"/>
            <label>Defect nummer:</label>
            <input id="input_idd_id_defect" type="number" class="bor bor-round focus pad-4"/>
            <!-- 12 -->
            <template data-tmpl="component">dropdown_linked_idd_place</template>
            <!-- 4 -->
            <label>Omschrijving:</label>
            <input id="input_idd_text" type="text" class="bor bor-round focus pad-4"/>
            <label>Staging:</label>
            <input id="input_idd_staging" type="text" class="bor bor-round focus pad-4"/>			
            <!-- 2 -->
			<label class="dis-hidden">SAP Import:</label>
			<textarea class="bor bor-round dis-hidden focus pad-4"></textarea>
			<!-- 1 -->
			<ul class="list-none">
				<li>
					<button id="create_test" class="comp-button-orange comp-button-small" data-event="idd_create_entries">Create</button>
				</li>
				<li>
					<button id="import_test" class="comp-button-orange comp-button-small" data-event="idd_create_imports">Import</button>
				</li>
				<li>
					<button id="next_test" class="comp-button-orange comp-button-small dis-hidden" data-event="idd_next_import">Next</button>
				</li>
			</ul>
        </section>
    </fieldset>
</template>
<template id="idd_main">
    <nav id="idd_menu" class="grid-1-1 bor-round color-3-bg">
        <template data-tmpl="component">menu_list_idd_menu</template>
    </nav>
    <article id="idd_content" class="grid-1-2 bor bor-round bor-noleft color-3-bg"></article>
</template>
<template id="idd_results">
    <table class="ta-c">
        <thead class="color-7-bg">
            <tr>
                <th class="w-min--100">Datum</th>
                <th class="w-min--100">Departement</th>
                <th class="w-min--50">Lijn</th>
                <th class="w-min-150">Area</th>
                <th class="w-min--50">Toewijzing</th>
                <th class="w-min--400">Omschrijving</th>
                <th class="w-min--50">Wanneer</th>
                <th class="w-min--50">Duurtijd</th>
                <th class="w-min--50">Type</th>
                <th class="w-min--50">Prioriteit</th>
                <th class="w-min--100">Opgelost</th>
            </tr>
        </thead>
        <tbody class="striped">
            <template data-tmpl="if resource.length != 0, foreach entry in resource">
            <tr id="idd_entry_${entry.id}" class="${exec( entry.duetime < new Date().toJSON() ? 'ool' : '' )}" data-event="idd_show_details" data-context="${entry.id}">
                <td data-event="BUBBLE" data-context="tr">${entry.starttime}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.department}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.line}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.area}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.assignee}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.text}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.condition}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.duration}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.type}</td>
                <td data-event="BUBBLE" data-context="tr">${entry.priority}</td>
                <td data-event="BUBBLE" data-context="tr">
                    <template data-tmpl="if entry.endable exists">
                        <template data-tmpl="if entry.endtime missing,if entry.endable = true,component">dropdown_idd_actor</template>
                        <span data-tmpl="if entry.endtime missing, if entry.endable = false">Order niet verwerkt</span>
                        <span data-tmpl="if entry.endtime exists">${entry.actor}</span>
                    </template>
                    <template data-tmpl="if entry.endtime missing,if entry.endable missing,component">dropdown_idd_actor</template>
					<span data-tmpl="if entry.endtime exists, if entry.endable missing">${entry.actor}</span>
                </td>
            </tr>
            <tr class="dis-gone" data-event="idd_show_details" data-context="${entry.id}">
                <td class="color-2-bg" colspan="13">
                    <ul class="list-none mar-l-32 ta-l" >
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">id:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.id}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">starttime:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.starttime}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">endtime:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.endtime}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">duetime:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.duetime}</span>
                        </li>
						<li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">edittime:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.edittime}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">duration:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.duration}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">plant:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.plant}</span>
                        </li>
						<li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">organisation:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.organisation}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">department:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.department}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">line:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.line}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">area:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.area}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">location:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.location}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">equipment:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.equipment}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">part:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.part}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">text:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.text}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">notes:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.notes}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">type:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.type}</span>
                        </li>
						<li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">type_organisation:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.type_organisation}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">priority:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.priority}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">condition:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.condition}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">id_order:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.id_order}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">id_defect:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.id_defect}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">staging:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.staging}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">creator:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.creator}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">creator_team:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.creator_team}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">assignee:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.assignee}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">actor:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.actor}</span>
                        </li>
						<li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">editor:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.editor}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">editor_team:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.editor_team}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">reviewer:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.reviewer}</span>
                        </li>
                        <li>
                            <label class="ib pad-4 ta-r" data-event="BUBBLE" data-context="tr">reviewer_team:</label>
                            <span class="ib pad-4 ta-l" data-event="BUBBLE" data-context="tr">${entry.reviewer_team}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            </template>
            <tr data-tmpl="if resource.length = 0">
                <td colspan="13">No entries found.</td>
            </tr>
        </tbody>
    </table>
</template>
<template id="idd_search">
    <nav id="idd_search" class="grid grid-col-2 bor bor-round color-4-bg offset-fieldset pad-4 ta-c ">
        <!-- 6 -->
        <label class="ib pad-4 pad-r-8 ta-r">If Down Do:</label>
        <select id="idd_search_type" class="bor bor-round focus ib pad-4">
            <option value="open">Open</option>
			<option value="all">All</option>
			<!--
            <option value="open_timeframe">Open tussen</option>
            <option value="timeframe">Ingegeven tussen</option>
			-->
        </select>
        <label class="ib pad-4 pad-r-8 ta-r">Van:</label>
        <template data-tmpl="component">picker_datetime_idd_starttime</template>
        <label class="ib pad-4 pad-r-8 ta-r">Tot:</label>
        <template data-tmpl="component">picker_datetime_idd_endtime</template>
        <!-- 4 -->
        <template data-tmpl="component">dropdown_labelled_idd_type</template>
        <template data-tmpl="component">dropdown_labelled_idd_assignee</template>
        <!-- 4 -->
        <template data-tmpl="component">dropdown_labelled_idd_id_order</template>
		<template data-tmpl="component">dropdown_labelled_idd_staging</template>
		<!-- 4 -->
        <template data-tmpl="component">dropdown_labelled_idd_plant</template>
		<template data-tmpl="component">dropdown_labelled_idd_organisation</template>
        <!-- 12 -->
        <template data-tmpl="component">dropdown_linked_idd_place</template>
        <!-- 2 -->
        <ul class="list-none pad-l-38 ta-l">
            <li>
                <button class="comp-button-orange comp-button-small" data-event="idd_search_entries">Search</button>
            </li>
            <li>
                <button class="comp-button-orange comp-button-small" data-event="idd_sort_entries">Sort</button>
            </li>
            <li>
                <button class="comp-button-orange comp-button-small" data-event="idd_print_entries">Print</button>
            </li>
        </ul>
    </nav>
    <fieldset class="b bor color-4-bg pad-4">
        <legend class="pad-4 ta-c">
            <h3>&nbsp;</h3>
        </legend>
        <section id="idd_results">
            <table>
                <tbody>
                    <tr>
                        <td>No results</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </fieldset>  
</template>
<template id="idd_statistics">
    <ul>
        <li>Op tijdsbasis</li>
        <li>Aantal opgelost per team</li>
        <li>Aantal opgelost per lijn</li>
        <li>Aantal opgelost per lijn paar</li>
        <li>Aantal opgelost per departement</li>
    </ul>
    <br>
    <br>
    <br>
    <ul id="idd_statistics_wrapper"></ul>
</template>