<section id="api_content">
    <ul class="list-clean">
        <li class="color-4-bg" data-tmpl="foreach module in state">
            <h3 class="pad-8">${ module.view.header }</h3>
            <p class="bold color-3-bg pad-4">${ module.view.creator }</p>
            <ul class="color-3-bg list-clean pad-l-32">
                <li data-tmpl="foreach method in module.view.methods">${ method.name }</li>
            </ul>
            <ul class="color-3-bg list-clean pad-l-32">
                <li data-tmpl="foreach property in module.view.properties">${ property.name }</li>
            </ul>
        </li>
    </ul>
</section>