* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
iframe {
    border-radius: 4px;
    display: block;
    height: 50vh;
    width: 100%;
}
li {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#admin_api fieldset {
    page-break-before: always;
}
#admin_api li {
    page-break-inside: avoid;
}
#admin_api p {
    background-color: rgba( 238, 238, 238, 1 );
    border: 1px solid rgba( 128, 128, 128, 1 );
    border-radius: 4px;
    margin-bottom: 4px;
    padding: 4px;
}
#admin_api ul.grid-50-50 > li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
#admin_api ul.grid-15-85 > li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 85%;
    grid-template-columns: 15% 85%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
#admin_api ul.grid-50-50 > li > span:nth-child( 1 ) {
    background-color: rgba( 238, 175, 48, 1 );
    border: 1px solid rgba( 128, 128, 128, 1 );
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	grid-column: 1;
	grid-row: 1;
    padding: 4px;
}
#admin_api ul.grid-15-85 > li > span:nth-child( 1 ) {
    display: inline-block;
    font-weight: bold;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	grid-column: 1;
	grid-row: 1;
    padding: 4px;
}
#admin_api ul.grid-50-50 > li > span:nth-child( 2 ) {
    background-color: rgba( 238, 238, 238, 1 );
    border-right: 1px solid rgba( 128, 128, 128, 1 );
    border-top: 1px solid rgba( 128, 128, 128, 1 );
    border-top-right-radius: 4px;
    display: inline-block;
    font-weight: bold;
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	grid-column: 2;
	grid-row: 1;
    padding: 4px;
}
#admin_api ul.grid-15-85 > li > span:nth-child( 2 ) {
    display: inline-block;
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	grid-column: 2;
	grid-row: 1;
    padding: 4px;
}
#admin_api ul.grid-50-50 > li > span:nth-child( 3 ) {
    background-color: rgba( 238, 238, 238, 1 );
    border: 1px solid rgba( 128, 128, 128, 1 );
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: inline-block;
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	grid-column: 1;
    -ms-grid-column-span : 2;
    grid-column-end: span 2;
	grid-row: 2;  
    margin-bottom: 4px;
    padding: 4px;
}
#admin_colors li {
    display: inline-block;
    text-align: center;
    width: 9%;
}
#admin_colors li > div {
    display: inline-block;
    border: 1px solid rgba( 128, 128, 128, 1 );
    height: 40px;
    width: 100px;
}
.admin-grid {
    -ms-grid-rows: 25px;
    grid-template-rows: 25px;
}
.admin-grid label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
}
@media print {
	@page {
		size: landscape;
		margin: 10mm 8mm;
	}
    article {
        border: 0px; !important
    }
}
/* move to er.css */
.color-bg-1 {
    background-color: rgba( 181, 26, 70, 1 );
}
.color-bg-2 {
    background-color: rgba( 151, 23, 46, 1 );	
}
.color-bg-3 {
    background-color: rgba( 238, 53, 35, 1 );
}
.color-bg-4 {
    background-color: rgba( 238, 174, 48, 1 );
}
.color-bg-5 {
    background-color: rgba( 252, 217, 1, 1 );
}
.color-bg-6 {
    background-color: rgba( 238, 238, 238, 1 );
}
.color-bg-blue {
    background-color: blue;
}
.color-bg-grey {
    background-color: lightgrey;
}
.color-bg-white {
    background-color: white;
}
.color-bor-blue {
    border-color: blue;
}
.color-bor-grey {
    border-color: lightgrey;
}
.color-bor-white {
    border-color: white;
}

.ready {
    background-color: rgba( 190, 219, 0, 1 );
}
.notready {
    background-color: rgba( 181, 24, 71, 1 );
}
.bor {
    border: 1px solid grey;
    border-radius: 4px;
}
.mar-4 {
    margin: 4px;
}
.mar-t-32 {
    margin-top: 32px;
}
.pad-4 {
    padding: 4px;
}
.pad-r-4 {
    padding-right: 4px;
}
.pad-16 {
    padding: 16px;
}