* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background {
    background-color: rgba(238,238,238,1);
}
table {
    border-spacing: 4px;
    width: 100%;
}
body {
    background-color: rgba(181,26,70,1);
    background-image: linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -ms-background-image: -ms-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -moz-background-image: -moz-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -o-background-image: -o-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);
    -webkit-background-image: -webkit-linear-gradient(to right, rgba(181,26,70,1), rgba(181,26,70,1) 65%, rgba(151,23,46,1) 65%, rgba(151,23,46,1) 71.5%, rgba(238,53,35,1) 71.5%, rgba(238,53,35,1) 82.5%, rgba(238,174,48,1) 82.5%, rgba(238,174,48,1) 86.5%, rgba(252,217,1,1) 86.5%);    
}
.bor {
    border: 1px solid grey;
    border-radius: 4px;
}
.bor-chunk-l {
    border: 1px solid grey;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.bor-chunk-m {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
.bor-chunk-r {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.mar-4 {
    margin: 4px;
}
.pad-4 {
    padding: 4px;
}
.pad-16 {
    padding: 16px;
}
.rel {
    position: relative;
}
.center {
    text-align: center;
}
/* REPORT SIGNS CF */
#signs_cf {
    -ms-grid-columns: 4px 45px 45px 1fr 4px 45px 45px 202px 4px 45px 45px 202px 4px; /* gauges: 200px svg + 2px borders due to box-sizing */
    -grid-template-columns: 4px 45px 45px 1fr 4px 45px 45px 202px 4px 45px 45px 202px 4px;
    -ms-grid-rows: 4px auto 4px auto 4px 202px 4px 99px 4px 99px 4px 202px 4px;
    grid-template-rows: 4px auto 4px auto 4px 202px 4px 99px 4px 99px 4px 202px 4px;
}
/* COMPONENT DOWNTIMEBAR */
.comp-dtbar-bar {
    border: 1px solid grey;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
}
.comp-dtbar-sundial {
    background-color: grey;
    border: 1px solid grey;
    height: 58px;
    position: absolute;
    width: 3px;
}
.comp-dtbar-sundial::before {
    background-color: rgba( 238, 238, 238, 1 );
    color: grey;
    content: attr( data-symbol );
    display: inline-block;
    height: 1.1em;
    left: -7px;
    line-height: 1.1em;
    position: absolute;
    top: 58px;
}
.comp-dtbar-duration {
    display: inline-block;
    height: 100%;
    text-align: center;
}
.comp-dtbar-duration:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.comp-dtbar-duration:last-of-type {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.comp-dtbar-duration:not(:last-of-type) {
    border-right: 1px solid grey;
}
.comp-dtbar-running { 
    background-color: rgba( 190, 219, 0, 1 ); /* COLOR_K_GREEN_FLUO */ 
}
.comp-dtbar-ongoing {
    background-color: rgba( 238, 175, 48, 1 ); /* COLOR_K_ORANGE */
}
.comp-dtbar-planned {
    background-color: rgba( 0, 115, 99, 1 ); /* COLOR_K_GREEN */
    color: rgba( 238, 238, 238, 1 );
}
.comp-dtbar-unplanned {
    background-color: rgba( 181, 24, 71, 1 ); /* COLOR_K_RED */
    color: rgba( 238, 238, 238, 1 );
}
/*
*   - Our bar is 8 hours long, so each hour is 12.5% of the bar .
*   - So we make the last child shorter, so we have room to add a 9th label for the endtime .
*/
.comp-dtbar-timing {
    display: inline-block;
    width: 12.5%;
}
.comp-dtbar-timing:not(:first-child):not(:last-child) {
    border-left: 1px solid grey;
}
.comp-dtbar-timing:nth-last-child( 2 ) {
    width: 10%;
}
.comp-dtbar-timing:last-child {
    text-align: right;
    width: 2.5%;
}
/* COMPONENT MARQUEE */
.comp-marquee {
    font-size: 24px;
    font-weight: bold;
    height: 34px; /* due to the absolute positioning of the marquee element, box-sizing gets overwritten and we need to provide a height => 24px font size + 2px border + 8px padding */
    overflow: hidden; /* the element needs overflow hidden already Before we activate the marquee. Else we'll see a scrolling bar for the ms that the browser adds the marquee class */
    text-align: center;
}
.comp-marquee-active {
    overflow: hidden;
    position: relative;
}
.comp-marquee-active > div {
	-moz-animation: marquee 15s linear infinite;
	-ms-animation: marquee 15s linear infinite;
	-o-animation: marquee 15s linear infinite;
	-webkit-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
    overflow: hidden;
	position: absolute;
	right: 0;
    top: 0;
	white-space: nowrap;
}
@-webkit-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-moz-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-ms-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@-o-keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
@keyframes marquee {
    0% { right: -15%; }
    100% { right: 110%; }
}
/* COMPONENT PERCENTAGEBAR */
.comp-percbar {
    background-color: rgba( 255, 255, 255, 1 );
    border: 1px solid rgba( 204, 204, 204, 1 );
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.comp-percbar > div {
    background-color: rgba( 190, 219, 0, 1 ); /* COLOR_K_GREEN_FLUO */
    bottom: 0;
    font-weight: bold;
    height: 20px;
    min-height: 20px;
    max-height: 100%;
    position: absolute;
    text-align: center;
    transition: height 1s;
    width: 100%;
}
.comp-percbar > div.comp-percbar-ool { /* css rule weight kinda screws us here for not using a seperate class for the inner variable height bar */
    background-color: rgba( 181, 24, 71, 1 ); /* COLOR_K_RED */
    color: rgba( 238, 238, 238, 1 );
}