a {
	display: block;
	text-decoration: none;
}
a, a:visited {
	color: black;
}
#idd_content {
    border-left: none;
    min-height: calc( 100vh - 8px );
    padding: 0 14px 14px 14px;
}
#idd_content legend {
    margin-left: 10%;
}
#idd_entry {
    height: 100%;
    width: 100%;  
}
#idd_entry textarea {
	min-height: 250px;
	overflow: hidden;
}
#idd_entry label { /* Our components will also return labels.
    So it's easier to add this one css rule that to edit all the components to also accept styling options for the labels.
    In our current setup, components only acept styling options for their input elements.
    */
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    text-align: right;
}
#idd_entry section {
    -ms-grid-columns: 190px 194px 190px 194px 190px 194px 1fr;
    grid-template-columns: 190px 194px 190px 194px 190px 194px 1fr;   
}
#idd_entry section > * {
    margin-bottom: 8px;
}
#idd_entry section > *:nth-child(1) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(2) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(3) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(4) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(5) {
    -ms-grid-column: 5;
	grid-column: 5;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(6) {
    -ms-grid-column: 6;
	grid-column: 6;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_entry section > *:nth-child(7) { 
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(8) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(9) {
    -ms-grid-column: 3;
	grid-column: 3;    
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(10) {
    -ms-grid-column: 4;
	grid-column: 4;    
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(11) {
    -ms-grid-column: 5;
	grid-column: 5;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(12) {
    -ms-grid-column: 6;
	grid-column: 6;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_entry section > *:nth-child(13) {   
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_entry section > *:nth-child(14) {  
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_entry section > *:nth-child(15) {
    -ms-grid-column: 3;
	grid-column: 3;    
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_entry section > *:nth-child(16) {
    -ms-grid-column: 4;
	grid-column: 4;    
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_entry section > *:nth-child(17) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_entry section > *:nth-child(18) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_entry section > *:nth-child(19) {
    -ms-grid-column: 3;
	grid-column: 3;    
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_entry section > *:nth-child(20) {
    -ms-grid-column: 4;
	grid-column: 4;    
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_entry section > *:nth-child(21) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(22) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(23) {
    -ms-grid-column: 3;
	grid-column: 3;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(24) {
    -ms-grid-column: 4;
	grid-column: 4;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(25) {
    -ms-grid-column: 5;
	grid-column: 5;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(26) {
    -ms-grid-column: 6;
	grid-column: 6;    
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_entry section > *:nth-child(27) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(28) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(29) {
    -ms-grid-column: 3;
	grid-column: 3;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(30) {
    -ms-grid-column: 4;
	grid-column: 4;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(31) {
    -ms-grid-column: 5;
	grid-column: 5;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(32) {
    -ms-grid-column: 6;
	grid-column: 6;    
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_entry section > *:nth-child(33) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 7;
    grid-row: 7;
}
#idd_entry section > *:nth-child(34) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 7;
    grid-row: 7;
	-ms-grid-column-span: 3;
}
#idd_entry section > *:nth-child(35) {
    -ms-grid-column: 5;
	grid-column: 5;    
    -ms-grid-row: 7;
    grid-row: 7;
}
#idd_entry section > *:nth-child(36) {
    -ms-grid-column: 6;
	grid-column: 6;    
    -ms-grid-row: 7;
    grid-row: 7;
}
#idd_entry section > *:nth-child(37) {
    -ms-grid-column: 1;
	grid-column: 1;    
    -ms-grid-row: 8;
    grid-row: 8;
}
#idd_entry section > *:nth-child(38) {
    -ms-grid-column: 2;
	grid-column: 2;    
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column-span: 5;
	-ms-grid-row-span: 5;
}
#idd_entry section > *:nth-child(39) {
    -ms-grid-column: 7;
	grid-column: 7;    
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 6;
}
#idd_main {
    -ms-grid-columns: 150px 1fr; /* 93.5 */
    grid-template-columns: 150px 1fr;
}
#idd_menu {
    height: 100%;
}
#idd_menu ul { /* Our nav element will have this id, so instead of adding a idd-menu class to the component, might as well just use the id to identify this exception in the component default style. */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#idd_menu a {
    padding: 8px;
}
#idd_results {
    height: 100%;
}
#idd_results table {
    border-collapse: collapse;
    width: 100%;
}
#idd_results table tbody > tr:nth-child(4n+1):not(.ool) { /* (4*0)+1=1 ; (4*1)+1=5 ; (4*2)+1=9 ; (4*3)+1=13 */
    background-color: rgba( 255, 255, 255, 1 ); /* color-2-bg */
}
#idd_results table tbody > tr:nth-child(4n+3):not(.ool) { /* (4*0)+3=3 ; (4*1)+3=7 ; (4*2)+3=11 ; (4*3)+3=15 */
    background-color: rgba( 219, 239, 255, 1 ); /* color-23-bg : new lightblue kellog color from 'no added sugar granola' */
}
#idd_results tr.ool {
    background-color: rgba( 181, 26, 70, 1 );
    color: rgba( 238, 238, 238, 1 );
    font-weight: bold;
}
#idd_results th:nth-child( 3 ) {
    
}
#idd_results th:nth-child( 4 ) {
    
}
#idd_results th:nth-child( 5 ) {
    
}
#idd_results th:nth-child( 6 ) {
    
}
#idd_results th:nth-child( 7 ) {
    
}
#idd_results th:nth-child( 8 ) {
    
}
#idd_results th:nth-child( 9 ) {
    
}
#idd_results th:nth-child( 10 ) {
    
}
#idd_results th:nth-child( 11 ) {
    
}
#idd_results li > label:first-child {
    font-weight: bold;
    padding-right: 8px;
    text-align: right;
    width: 12.5%;
}
#idd_results li > span:last-child {
    padding-left: 8px;
    text-align: left;
    width: 87.5%;
}
#idd_search { /* By using 3 row tracks, we can easily center the labels and inputs in relation to eachother and in relation to the following buttons that have a fixed height.
    By setting the button rows to fixed width, we assure that the buttons stay responsive when zooming in.
    26px = 28px input height - 2px from borders, since we use box-sizing.
    84px = 80px button width + 4px padding.
    */
    -ms-grid-columns: 190px 194px 190px 194px 190px 194px 1fr;
    grid-template-columns: 190px 194px 190px 194px 190px 194px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
/*
#idd_search *:nth-child( odd ) {
    -ms-grid-column: 1;
	grid-column: 1;
}
#idd_search *:nth-child( even ) {
    -ms-grid-column: 2;
	grid-column: 2;
}
*/
#idd_search > * {
    margin-bottom: 8px;
}
#idd_search > *:nth-child( 1 ) {
    -ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_search > *:nth-child( 2 ) {
    -ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}
#idd_search > *:nth-child( 3 ) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    visibility: hidden;
}
#idd_search > *:nth-child( 4 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    visibility: hidden;
}
#idd_search > *:nth-child( 5 ) {
    -ms-grid-column: 5;
	grid-column: 5;
    -ms-grid-row: 1;
    grid-row: 1;
    visibility: hidden;
}
#idd_search > *:nth-child( 6 ) {
    -ms-grid-column: 6;
	grid-column: 6;
    -ms-grid-row: 1;
    grid-row: 1;
    visibility: hidden;
}
#idd_search > *:nth-child( 7 ) {
    -ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_search > *:nth-child( 8 ) {
    -ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_search > *:nth-child( 9 ) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_search > *:nth-child( 10 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
}
#idd_search > *:nth-child( 11 ) {
    -ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_search > *:nth-child( 12 ) {
    -ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_search > *:nth-child( 13 ) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_search > *:nth-child( 14 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 3;
    grid-row: 3;
}
#idd_search > *:nth-child( 15 ) {
	-ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_search > *:nth-child( 16 ) {
	-ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_search > *:nth-child( 17 ) {
	-ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_search > *:nth-child( 18 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 4;
    grid-row: 4;
}
#idd_search > *:nth-child( 19 ) {
    -ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 20 ) {
    -ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 21 ) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 22 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 23 ) {
    -ms-grid-column: 5;
	grid-column: 5;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 24 ) {
    -ms-grid-column: 6;
	grid-column: 6;
    -ms-grid-row: 5;
    grid-row: 5;
}
#idd_search > *:nth-child( 25 ) {
    -ms-grid-column: 1;
	grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 26 ) {
    -ms-grid-column: 2;
	grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 27 ) {
    -ms-grid-column: 3;
	grid-column: 3;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 28 ) {
    -ms-grid-column: 4;
	grid-column: 4;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 29 ) {
    -ms-grid-column: 5;
	grid-column: 5;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 30 ) {
    -ms-grid-column: 6;
	grid-column: 6;
    -ms-grid-row: 6;
    grid-row: 6;
}
#idd_search > *:nth-child( 31 ) { /* buttons */
    -ms-grid-column: 7;
	grid-column: 7;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 4;
}
#idd_search label {
    font-weight: bold;
}